
/*************site*********************/

body{
	margin :0;
	background-color: #d1dadf;
	font-family: "Microsoft YaHei" !important;
}
.menu-box{
	width: 160px;
	background-color: #2d3c4f;
	/*padding-top: 20px;*/
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index:1001;
}

.menu-logo{
	/*padding-bottom: 20px;*/
}

.menu-logo img{
	width: 80px;
	display:block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.admin-menu-list li, .admin-menu-list a{
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	border-bottom: 1px solid #5c718c;
	color: #86a0c2;
	cursor:pointer;
	list-style:none;
	display:block;
}

.admin-menu-list .menu-selected{
	background-color: #151f2d;
	color: #a1c1eb;

	-moz-box-shadow:5px 5px 8px rgba(0,0,0,0.4) inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:5px 5px 8px rgba(0,0,0,0.4) inset;            /* For Chrome5+, Safari5+ */
	box-shadow:5px 5px 8px rgba(0,0,0,0.36) inset;                    /* For Latest Opera */
}

.admin-menu-list li img{
	position: absolute;
	margin-top: 18px;
	left: 20px;
}

.admin-menu-list li span{
	margin-left: 58px;
}

.second-level-menu-box{
	width: 120px;
	background-color: #2d3c4f;
	position: fixed;
	left: 160px;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 10000;
	-moz-box-shadow:4px 0 4px rgba(0,0,0,0.3) inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:4px 0 4px rgba(0,0,0,0.3) inset;            /* For Chrome5+, Safari5+ */
	box-shadow:4px 0 4px rgba(0,0,0,0.3) inset;                    /* For Latest Opera */
}

.second-level-menu-box li{
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color: #86a0c2;
	list-style: none;
	border-bottom: 1px solid #5c718c;
	cursor: pointer;
}

.second-level-menu-box li img {

	position: absolute;
	margin-top: 18px;
	left: 10px;
}

.second-level-menu-box li span {
	margin-left: 30px;
}

.breadcrumb{
	margin-top: 20px;
	height: 24px;
	margin-bottom: 20px;
	line-height: 24px;
	margin-left: 200px;
}

.breadcrumb span{
	font-size: 14px;
	position: absolute;
	left: 228px;
	color: #787878;
}

.breadcrumb .breadcrumb-menu{
	font-size: 14px;
	position: absolute;
	left: 256px;
}

.breadcrumb-right{
	margin-left: 10px;
	position: absolute;
	margin-top: 6px;
	margin-right: 10px;
}

.breadcrumb-menu-text{
	font-size: 14px;
	margin-left: 28px;
}

.center{
	position: absolute;
	left: 200px;
	min-height: calc(100% - 60px);
	/*width:calc(100% - 160px);*/
}



.admin-copy-right{
	height:80px;
	width:calc(100% + 40px);
	background: #9bbebe;
	position: absolute;
	bottom: 0;
	right:0;
	text-align: center;
	line-height: 70px;

}
.admin-copy-right span{
	display: block;
	height:25px;
	font-size:14px;
}
/*************end*********************/

/***************公用*******************/

.regular-btn{
	line-height: 40px;
	text-align: center;
	font-size:16px;
	border: none;
	height:40px;
	color:white;
	width:150px;
	border-radius: 5px;
}
.red-btn{
	background-color:#ff5f76;
}



.footer-section{
	margin-top:10px;
	padding:10px 5px;
	background-color: #c4bfbf;
	color: #1f1f1f;
}
.tech-support{
	text-align: center;
}
.copy-right{
	margin-top: 5px !important;;
	width:90%;
	text-align: center;
	font-size:14px;
}
.auto-margin{
	margin-left: auto!important;
	margin-right: auto!important;
}
.f-left{
	float:left;
}

.f-right{
	float:right;
}

.none-display{
	display: none;
}

.padding-15{
	width: 100%;
	height:15px;
	background-color: #e6e6e6;
}

a{
	text-decoration: none;
	color:#505050;
}
/*****************公用***end*********************/


/************首页************/
.home-center{
	width: 1140px;
}

.colmun-upper{
	width: 100%;
	height: 200px;
}

.currency-box{
	width: 100%;
	height: 200px;
	background-color: #f8f8f8;

	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.11) ;               /* For Firefox3.6+ */
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.11) ;            /* For Chrome5+, Safari5+ */
	box-shadow: 0 0 6px rgba(0,0,0,0.11) ;                    /* For Latest Opera */
}

.order-colmun{
	float: left;
	width: 400px;
}

.comment-colmun{
	float: left;
	width: 350px;
	margin-left: 20px;
}

.interlocution-colmun{
	float: left;
	width: 350px;
	margin-left: 20px;
}

.order-colmun-title{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #a0a0a0;
	width: 380px;
	margin: 0 auto;
	position: relative;
}

.home-currency-title-icon{
	position: absolute;
	top: 18px;
}

.home-currency-text{
	margin-left: 30px;
	font-size: 18px;
	color: #314156;
}

.home-currency-number-text{
	font-size: 14px;
	color: #314156;
}

.title-more{
	position: absolute;
	right: 0;
	top: 23px;
}

.order-colmun-content{
	width: 100%;
	height: 100px;
	margin-top: 20px;
}

.untreated-order-colmun{
	width: 199.5px;
	float: left;
	height: 100px;
}

.new-user-colmun{
	width: 199.5px;
	float: right;
	height: 100px;
}

.separate{
	width: 1px;
	height: 40px;
	background-color: #a0a0a0;
	float: left;
	margin: 0 auto;
	margin-top: 30px;
}

.order-currency-background{
	width: 170px;
	height: 71px;
	background-color: #dfe8f4;
	border-radius: 20px;
	margin: 0 auto;
	padding-top: 29px;

}

.order-currency-num{
	width: 100%;
	height: 14px;
	text-align: center;
	font-size: 14px;
	color: #505050;
	margin-bottom: 14px;
}

.order-currency-text{
	width: 100%;
	height: 14px;
	font-size: 14px;
	color: #505050;
	text-align: center;
}

.currency-colmun-title{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #a0a0a0;
	width: 330px;
	margin: 0 auto;
	position: relative;
}

.currency-content-box{
	width: 330px;
	margin: 0 auto;
}

.currency-content-colmun{
	width: 100%;
	margin-top: 14px;
	height: 12px;
	line-height: 12px;
}

.comment-content-title{
	font-size: 12px;
	color: #505050;
	float: left;
	width: 90px;
	display: block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.comment-content-description{
	font-size: 12px;
	color: #a0a0a0;
	width: 190px;
	padding-left: 10px;
	display: block;
	float: left;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.comment-content-comment{
	font-size: 12px;
	color: #505050;
	width: 30px;
	display: block;
	float: right;
	text-align: right;
	padding-left: 10px;
}

.interlocution-content-title{
	font-size: 12px;
	color: #505050;
	float: left;
	width: 308px;
	display: block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.interlocution-content-comment{
	width: 22px;
	font-size: 12px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	float: right;
	text-align: right;
}

.home-box-refresh{
	font-size: 12px;
	color: #505050;
	position: absolute;
	right: 36px;
}

.home-box-refresh-icon{
	position: absolute;
	right: 10px;
}

.refresh-content-colmun{
	margin-top: 10px;
	width: 100%;
	height: 12px;
	line-height: 12px;
}

.colmun-below{
	width: 100%;
	height: 385px;
	margin-top: 20px;
}

.echarts-box{
	width: 770px;
	height: 385px;
	float: left;
}

.discount-colmun{
	width: 350px;
	height: 385px;
	float: left;
	margin-left: 20px;
}

.echarts-colmun-title{
	height: 60px;
	line-height: 60px;
	width: 750px;
	margin: 0 auto;
	position: relative;
}

.echarts-switch{
	height: 60px;
	float: right;
}

.echarts-switch-currency{
	width: 90px;
	height: 60px;
	float: right;
	margin-left: 20px;
}

.switch-circle-text{
	font-size: 14px;
	color: #505050;
	margin-left: 10px;
	margin-top: 22px;
}

.switch-circle{
	width: 15px;
    height: 15px;
    background-color: white;
    margin-top: 22px;
    float: left;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
}

.red{
	border:3px solid #fe1616;
}

.green{
	border:3px solid #2cc309;
}

.violet{
	border:3px solid #771dff;
}

.blue{
	border:3px solid #39c3e6;
}

.discount-content{
	font-size: 12px;
	color: #505050;
	float: left;
	display: block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.discount-hotel{
	width: 90px;
}

.discount-comment{
	width: 120px;
}

.discount-price{
	width: 80px;
	text-align: right;
	float: right;
}

.discount-percentage{
	width: 40px;
	color: #a0a0a0;
}
/***********end**************/


/*********菜单设置*************/

.menusetting-box{
	width: 1140px;
	min-height: 500px;

	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.11) ;               /* For Firefox3.6+ */
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.11) ;            /* For Chrome5+, Safari5+ */
	box-shadow: 0 0 6px rgba(0,0,0,0.11) ;                    /* For Latest Opera */
}

.menusetting-upper{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #dfe8f4;
	border-bottom: 1px solid #9db1cf;
}



.menusetting-content{
	width: 100%;
	min-height: 450px;

	background-color: #f8f8f8;
}

.menusetting-add{
	width: 100px;
	height: 50px;
	float: left;
	cursor: pointer;
}

.menusetting-open{
	width: 100px;
	height: 50px;
	float: right;
	text-align: right;
	cursor: pointer;
}

.menusetting-add img{
	position: absolute;
	top: 15px;
	left: 10px;
}

.menusetting-add span{
	font-size: 14px;
	margin-left: 40px;
	color: #787878;
}

.menusetting-open span{
	font-size: 14px;
	margin-right: 28px;
	color: #787878;
}
.menusetting-open img{
	position: absolute;
	top: 21px;
	right: 10px;
}

.menu-colmun{
	width: 100%;
}

.one-level-menu-colmun{
	width: 1085px;
	margin-left: 35px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #c8c8c8;
	position: relative;
}

.menu-icon{
	position: absolute;
	top: 13px;
	left: 20px;
}

.menu-edit{
	position: absolute;
	right: 32px;
	top: 19px;
	cursor: pointer;
}

.menu-delete{
	position: absolute;
	right: 0;
	top: 19px;
	cursor: pointer;
}

.menu-open{
	position: absolute;
	left: -15px;
	bottom: -7.5px;
	cursor: pointer;
}

.one-level-menu-colmun span{
	margin-left: 50px;
	font-size: 14px;
	color: #505050;
}

.one-level-menu-colmun .menusetting-desc-text{
	font-size: 12px;
	color: #a0a0a0;
	margin-left: 6px;
}

.second-level-box{
	width: 1060px;
	margin-left: 60px;
}

.second-level-colmun{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	position: relative;
}

.second-level-menu-icon{
	position: absolute;
	top: 13px;
	left: 10px;
}

.second-level-colmun span{
	font-size: 12px;
	color: #505050;
	margin-left: 28px;
}

.second-level-colmun .menusetting-desc-text{
	font-size: 12px;
	color: #a0a0a0;
	margin-left: 6px;
}

.second-level-colmun .menu-edit{
	top: 14px;
}

.second-level-colmun .menu-delete{
	top: 14px;
}

.edit-add-box{
	/*min-height: 400px; */
	width: 510px !important;
	margin-left: -200px !important;
}

.edit-add-title{
	height: 52px;
	line-height: 52px;
	border-bottom: 1px dashed #cccccc;
}

.first-menu{
	margin-left: 10px;
}

.second-menu{
	margin-left: 12px;
}

.edit-add-content{
	width: 490px;
	margin: 0 auto;
	margin-top: 14px;
}

.select-box{
	width: 174px;
	height: 28px !important;
	border-radius: 4px;
	font-size: 12px;
}

.edit-add-content label{
	font-size: 14px;
	margin-right: 10px;
}

.content-colmun{
	width: 100%;
	margin-bottom: 20px;
	height: 28px;
}

.content-colmun-left{
	float: left;
}

.content-colmun-right{
	float: left;
	margin-left: 10px;
}

.content-colmun-right .select-box{
	width: 164px;
}

.edit-add-content .content-input{
	width: 172px;
	border-radius: 4px;
	height: 24px;
	border: 1px solid #dedede;
}

.content-colmun-right .content-input{
	width: 162px;
}

.content-colmun .overall-length{
	width: 414px;
}

.content-upload-colmun{
	width: 100%;
	height: 80px;
}

.content-upload-colmun label{
	font-size: 14px;
	/*margin-right: 10px;*/
	float: left;
}

.upload-box{
	width: 80px;
	height: 80px;
	border: 1px solid #a0a0a0;
	float: left;
	border-radius: 4px;
	margin-left: 10px;
	cursor: pointer;
}

.upload-box img{
	width: 40px;
	margin-left: 20px;
	margin-top: 20px;
}

.content-button-colmun{
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.currency-btu{
	width: 200px;
	height: 30px;
	line-height: 30px;
	background-color: #639ae3;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}
.currency-btu span{
	color: #f8f8f8;
	font-size: 14px;
}

.upload-tip-box{
	width: 125px;
	margin-left: 10px;
	height: 80px;
	float: left;
}

.upload-tip-box span{
	margin-top: 10px;
	font-size: 12px;
	float: left;
}

.upload-input{
	display: none;
}

/************end*****************/




/********酒店管理界面********/

.hotel-search-bar{
	height:40px;
	width:960px;
	background: #f8f8f8;
	border:1px solid #f8f8f8;
	position: relative;
}

.hotel-search-bar input{
	margin:5px 10px 0 0 ;
	height:25px;
	float:right;
	width:300px;
	border:1px solid #f8f8f8;
	background: transparent;
	border-bottom: 1px solid #505050;
}

.hotel-search-bar .search{
	position: absolute;
	top:8px;
	right:20px;
}

.add-hotel-btn{

	width:150px;
	height:30px;
	background: #639ae3;
	margin:5px 0 0 10px;
	border-radius: 2px;
	line-height: 30px;
	text-align: center;
	color:white;
	cursor: pointer;

}

.add-hotel-btn:hover{

	color: #f8f8f8;
	background: #0d71bb;
	transition:background-color 0.5s ease;

}

.hotel-list-header{
	font-size: 14px;
	background: #dfe8f4;
	color:#505050;
	height:40px;
	margin-top:20px;

}

.select-all{
	height:40px;
	line-height: 40px;
	margin-left:12px;
	margin-right:20px;
	cursor:pointer;
}

.select-all label{
	font-size:14px;


}
.select-all label input[type=checkbox]{
	height:18px;
	width:18px;
	vertical-align:-4px;
	margin-right:5px;
}

.header-option{
	cursor:pointer;
	height:40px;
	line-height: 40px;
	margin-right:20px;
}
.header-option img{
	vertical-align:-4px;
	height:18px;
	width:18px;
}
.header-option span{
	display: inline-block;
	margin-left:2px;

}
.hotel-table {
	margin-top:0px!important;
	font-size:14px!important;
}
.hotel-table td{
	overflow: hidden;

}

.hotel-table .s-td{
	width:30px;
}
.hotel-table .l-td{
	width:250px;
}
.hotel-table input[type=checkbox]{
	height:18px;
	width:18px;
	vertical-align: middle;
}
.hotel-table .hotel-img{
	width:100px;
	height:60px;
	border-radius: 5px;
}
/**************************/


/***********订单查询**************/

.order-upper{
	width: 1144px;
	height: 60px;
	background-color: #f8f8f8;

	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.order-upper-row{
	width: 228px;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.order-upper-row span{
	color: #a0a0a0;
	font-size: 16px;
	cursor: pointer;
}

.order-upper-select span{
	color: #505050;
}

.order-upper-row-separate{
	height: 10px;
	width: 1px;
	background-color: #a0a0a0;
	float: left;
	margin-top: 25px;
}

.order-inquiry-condition-box{
	width: 1144px;
	height: 255px;
	background-color: #f8f8f8;
	margin-top: 20px;
	padding-top: 20px;

	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.inquiry-condition-row{
	width: 1134px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.height-24{
	height: 24px;
	line-height: 24px;
}

.height-32{
	height: 32px;
	line-height: 32px;
}

.inquiry-condition-row .title-font{
	font-size: 14px;
	color: #505050;
	float: left;
}

.check-radio{
	margin-left: 5px;
}

.small-font{
	font-size: 12px;
	color: #505050;
	/*margin-right: 20px;*/
}

.dateinput{
	height: 18px;
	width: 92px;
	border-radius: 2px;
	border: 1px solid #a0a0a0;
	background-color: #F4F4F4;
	text-align: center;
}

.margin-right-20{
	margin-right: 20px;
}

.margin-right-10{
	margin-right: 10px;
}

.order-inquiry-condition-tag{
	border: 1px solid #B4B4B4;
	padding: 0 10px;
	line-height: 20px;
	float: left;
	border-radius: 4px;
	margin-left: 10px;
	cursor: pointer;
}

.select{
	border: 1px solid #505050;
	color: #505050;
}

.inquiry-condition-row .select span{
	color: #505050;
}

.order-inquiry-condition-tag span{
	font-size: 12px;
	color: #B4B4B4;
}

.inquiry-condition-input{
	height: 26px;
	width: 176px;
	border: 1px solid #505050;
	float: left;
	border-radius: 2px;
}

.inquiry-condition-select{
	height: 32px;
	width: 180px;
	border: 1px solid #505050;
	float: left;
	border-radius: 2px;
}

.height-40{
	height: 40px;
	line-height: 40px;
}

.order-search-btu{
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: #639ae3;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

.order-search-btu span{
	color: #f8f8f8;
	font-size: 16px;
}

.order-search-btu img{
	vertical-align: -4px;
	margin-left: 20px;
}

.order-search-number{
	height: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.order-search-number .number{
	color: #3f5e85;
	font-size: 14px;
	font-weight: bold;

}

.order-search-number .title-font{
	font-size: 14px;
	color: #787878;
}

.search-result-list-box{
	width: 1144px;
}

.search-result-title{
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: #dfe8f4;
	border-bottom: 1px solid #9db1cf;
}

.search-result-title-name{
	float: left;
	height: 100%;
}

.width-240{
	width: 240px;
}

.width-160{
	width: 160px;
}

.width-200{
	width: 200px;
}

.width-140{
	width: 140px;
}

.search-result-title-name span{
	font-size: 14px;
	margin-left: 10px;
	color: #787878;
}

.search-result-row{
	height: 100px;
	/*line-height: 100px;*/

	width: 100%;
	background-color: #f8f8f8;
}


.search-result-detailed{
	float: left;
	height: 100px;
	line-height: 70px;

}

.search-result-single{
	float: left;
	height: 100px;
	line-height: 100px;
}

.search-result-detailed span{
	color: #505050;
	font-size: 14px;
	display: block;
	height: 14px;
	margin-left: 10px;
 	vertical-align: middle;
}

.search-result-single span{
	color: #505050;
	font-size: 14px;
	display: block;
	height: 14px;
	margin-left: 10px;
 	vertical-align: middle;
}

.search-result-detailed  .down{
	margin-top: 16px;
}

.search-result-single .untreated{
	color: #fd2f2f;
}

.search-result-single .refuse{
	color: #a0a0a0;
}

.search-result-detailed .order-handle{
	display: inline;
	cursor: pointer;
}

.search-result-detailed .order-rewrite{
	display: inline;
	cursor: pointer;
}

.search-result-detailed .order-operation{
	margin-top: -40px;
	cursor: pointer;
}

.search-result-detailed .margin-left-20{
	margin-left: 20px;
}

.operation-icon{
	vertical-align: -4px;
}

.dashed{
	width:100%;
	height:0;
	border-bottom: 1px dashed #a0a0a0;
	width: 1124px;
	margin: 0 auto;
}
/***********订单查询***end***********/

/*********创建酒店页面*******/

.h-c-steps{
	height:80px;
	background: #f8f8f8;

	width:960px;
	padding:15px 80px;
}
.h-c-steps .step{
	width:70px;
	height:70px;
	border-radius: 100%;

	font-size:18px;
	text-align: center;
	line-height: 70px;
	background-color: rgba(159, 159, 159, 0.91);
	color:#f8f8f8;
	float:left;
	border:5px solid #e6e6e6;
}
.h-c-steps .s-active{
	background-color:  #6392e3;;

}
.h-c-steps .s-line{
	float:left;
	height:5px;
	width:80px;
	vertical-align: middle;
	background-color: rgba(159, 159, 159, 0.91);
	margin-top:33px;
	border-top:5px solid #e6e6e6;
	border-bottom:5px solid #e6e6e6;
}
.h-c-steps .s-l-active{
	background-color: #6392e3;;

}

.hotel-info{
	margin-top:10px;
	width:960px;
	background-color: #f8f8f8;
	overflow: hidden;
}
.hotel-info .header{
	height:30px;
	line-height: 30px;
	font-size:16px;

	margin:0 10px;
	border-bottom: 1px dashed #505050;
}
.detail-form{
	padding:20px 10px;
	overflow: hidden;
	margin-bottom: 20px;

}
.short-input-box {
	float:left;
	margin:15px 30px 10px 0 ;
	width:400px;
}
.short-input-box label{
	font-size:14px;
	display: inline-block;
	width:70px;
}
.short-input-box input{
	height:30px;
	width:150px;
	font-size:12px;
	background-color: #f8f8f8;
	border:1px solid #505050;

}
.short-input-box span{
	font-size:12px;
	display: inline-block;
	color: #cfcfcf;
}

.long-input-box {
	float:left;
	margin:15px 30px 10px 0 ;
	width:800px;
}
.long-input-box label{
	font-size:14px;
	display: inline-block;
	width:70px;
}
.long-input-box input{
	height:30px;
	width:360px;
	font-size:12px;
	background-color: #f8f8f8;
	border:1px solid #505050;

}
.long-input-box textarea{
	width:360px;
	height:240px;
	font-size:12px;
	background-color: #f8f8f8;
	border:1px solid #505050;
}
.long-input-box span{
	font-size:12px;
	display: inline-block;
	color: #cfcfcf;
	vertical-align: middle;
}

.next-step-btn{
	width:200px;
	height:40px;
	font-size:16px;
	line-height: 40px;
	text-align: center;
	background: #6392e3;
	margin-bottom: 10px;
	color:#f8f8f8;
	cursor: pointer;
}
/**************************/


/*** jquery plugin*****/

.c-caption-section{
	height:30px;
	font-size: 14px;
	text-align: center;
	line-height: 30px;

}
.c-caption-section .active{

	color:#505050;
	background-color:#f8f8f8 ;
}
.c-caption-section span{
	background: #c2cbd4;;
	float:left;
	width:33.3333%;
	color:#f8f8f8;
	cursor: pointer;
}
.province-section{
	font-size:12px;
	padding:5px 2px 0 2px;

}
.province-section span {
	margin:2px 0;
	cursor:pointer;
	display:inline-block;
	padding:5px 5px;
	border-radius: 2px;
}
.province-section span:hover {
	background:  #fe875e;
	color:white;
}

.province-section hr{
	height:2px;
	border:none;
	border-top:3px double rgba(6, 148, 204, 0.98);
	margin:3px 10px;
}
.city-section{
	font-size:12px;
	padding:5px 2px 0 2px;
	display:none;
}
.city-section span{
	margin:2px 0;
	cursor:pointer;
	display:inline-block;
	padding:5px 5px;
	border-radius: 2px;
}
.city-section span:hover{
	background:  #fe875e;
	color:white;
}

.district-section{
	font-size:12px;
	padding:5px 2px 0 2px;
	display:none;
}
.district-section span{
	margin:2px 0;
	cursor:pointer;
	display:inline-block;
	padding:5px 5px;
	border-radius: 2px;
}
.district-section span:hover{
	background:  #fe875e;;
	color:white;
}

.geo-search-line{
	cursor: pointer;
	font-size:12px;
	padding:5px 5px 0 5px;
}

.geo-search-line:hover{
	background-color: #00aced;
	color:#f8f8f8;
}
.geo-search-line span{
	display:inline-block;
	margin:0 5px 0 0 ;
	padding:2px;


}

.geo-selected {
	background:#00aced;
	color:#f8f8f8;
}
/**********************/



/********添加酒店第二部**********/

.geoLocation-box{
	width: 1140px;
	background-color: #f8f8f8;
	margin-top: 20px;
}

.geoLocation-title{
	width: 100%;
	height: 50px;
}

.geoLocation-title-font{
	width: 1120px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	font-size: 16px;
	color: #505050;
	border-bottom: 1px dashed #a0a0a0;
}

.map-information-row{
	height: 280px;
	width: 1120px;
	margin: 0 auto;
	margin-top: 20px;
}

.map-box{
	width: 550px;
	height: 280px;
	float: left;
	border: 1px solid #c8c8c8;
}

.map-information-box{
	width: 500px;
	height: 280px;
	float: left;
	/*border: 1px solid red;*/
	margin-left: 10px;
}

.hotel-address{
	width: 100%;
	margin-top: 54px;
	height: 48px;
}


.longitude-latitude-box span , .hotel-address span{
	display: block;
}

.longitude-latitude-box .down , .hotel-address .down{
	margin-top: 12px;
}

.longitude-latitude-box{
	width: 100%;
	margin-top: 32px;
	height: 48px;
}

.manual-locate-btn{
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #639ae3;
	margin-top: 30px;
	border: 1px solid #639ae3;
	border-radius: 2px;
	cursor: pointer;
}

.manual-locate-btn img{
	vertical-align: -2px;
	margin-right: 6px;
}

.surrounding-environment{
	width: 100%;
	height: 70px;
	/*line-height: 70px;*/
	margin-top: 30px;
}

.surrounding-environment span{
	font-size: 14px;
	margin-left: 10px;
	color: #787878;
	float: left;
}

.scenic-spot{
	width: 116px;
	height: 36px;
	margin-left: 10px;
	border-radius: 2px;
	border: 1px solid #a0a0a0;
	float: left;
}

.surrounding-environment .manual-locate-btn{
	float: left;
	margin-left: 20px;
	margin-top: -1px;
}

.hotel-policy-box{
	width: 1140px;
	background-color: #f8f8f8;
}

.hotel-policy-title-font{
	height: 50px;
	width: 1120px;
	margin: 0 auto;
	line-height: 50px;
	font-size: 16px;
	color: #505050;
	border-bottom: 1px dashed #a0a0a0;
	margin-bottom: 20px;
}

.hotel-policy-row{
	width: 100%;
	margin-bottom: 30px;
}

.policy-title-font{
	font-size: 14px;
	color: #787878;
	margin-left: 10px;
}

.float-left{
	float: left;
}

.hotel-policy-input{
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin-left: 10px;
	border-radius: 2px;
	border: 1px solid #a0a0a0;
	/*float: left;*/
}

.policy-tips-font{
	font-size: 12px;
	color: #a0a0a0;
}

.policy-input-font{
	font-size: 12px;
	color: #505050;
	margin-left: 10px;
}

.hotel-policy-input img{
	float: right;
	margin-top: 14px;
	margin-right: 10px;
}

.height-80{
	height: 80px;
}

.hotel-policy-row .title-font-box{
	float: left;
	line-height: 40px;
}

.hotel-policy-textarea{
	width: 494px;
	height: 74px;
	max-height: 74px;
	float: left;
	max-width: 600px;
	/*margin-left: 10px;*/
}
/*************end******************/

/****文章管理页面 创建 编辑**********/
.article-error {
	color: #d95a5d;

}

.article-input-field{
	margin-top:15px;
	margin-bottom: 15px;
}
.article-input-field .article-cate{

	min-height:0!important;
	min-width:140px!important;
	border-radius: 0!important;
}
.article-input-field label{
	margin-right:10px;
	font-size:16px;
	font-weight: 500;
}
.article-input-field input{
	height:40px;
	width:200px;
}

.article-btn-section{
	margin:0 auto;
	width:300px;
	overflow: hidden;

}


.upload-image{
	display:none!important;
}
.upload-article-image{
	margin-left:50px;
	width:150px;
	height:150px;
	border:1px solid #505050;
	text-align: center;
	line-height: 150px;
}
.upload-article-image:hover{
	cursor: pointer;
}
.upload-article-image-show {
	margin-left:50px;
	width:150px;
	height:150px;

}
.upload-article-image-show img{

	width:147px;
	height:147px;
	border:none;
}
.upload-article-image-show span{
	display:none;
}


.upload-cover-image input{
	opacity: 0;
}
.file {
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	border: 1px dotted #99D3F5;
	border-radius: 4px;
	padding: 4px 12px;
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 20px;

}
.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	height:150px;
	width:150px;
}
.file:hover {
	background: #AADFFD;
	border-color: #78C3F3;
	color: #004974;
	text-decoration: none;
}
/*********************************/



/**********文章分类标签管理************/

.classification-box{
	width: 1140px;
	background-color: #f8f8f8;
	
}

.classification-box-title{
	width: 1120px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #a0a0a0;
	
}

.classification-box-title span{
	color: #505050;
	font-size: 14px;
	float: left;
}

.classificationandtag-btn{
	width: 100px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #639ae3;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 2px;
	cursor: pointer;
}

.classificationandtag-btn img{
	vertical-align: -1px;
}

.classification-list-box{
	width: 1140px;
	/*height: 200px;*/
}

.classification-list-row{
	height: 40px;
	line-height: 40px;
	width: 1120px;
	margin: 0 auto;
	border-bottom: 1px solid #a0a0a0;

}

.classification-colmun{
	text-align: center;
	float: left;
	color: #505050;
	font-size: 14px;
}

.width-50{
	width: 50px;
}

.width-120{
	width: 120px;
}

.width-200{
	width: 200px;
}

.classification-colmun img{
	cursor: pointer;
}

.classification-edit{
	margin-right: 40px;
}

.tag-box{
	width: 1140px;
	margin-top: 20px;
	background-color: #f8f8f8;
}

.tag-add-row{
	width: 1120px;
	margin: 0 auto;
	height: 60px;
}

.tag-add-row input{
	width: 116px;
	height: 34px;
	margin-top: 20px;
}

.tag-add-row img{
	vertical-align: middle;
	margin-left: 20px;
	cursor: pointer;
}

.tag-list-box{
	width: 1120px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 20px;
}


.tag-content-block{
	min-width: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #639ae3;
	text-align: center;

	float: left;
	/*margin-right:20px;*/
	margin-left: 10px;
	margin-top: 20px;

}

.tag-content-block span {
	font-size: 14px;
	color: #505050;
}

.tag-content-block img{
	vertical-align: middle;

	cursor: pointer;
	margin-left: 5px;

	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
}

.title-font{
	font-size: 14px;
	color: #505050;
}

.margin-left-20{
	margin-left: 20px;
}
/***************end**********************/


/***********登录*******************/

.login-box{
	background-image: url(/Admin/img/login_bgx.gif);
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
}

.login-logo{
	width: 100%;
	margin-top: 100px;
	text-align: center;

}

.login-input-box{
	width: 600px;
	height: 300px;
	background-color: #f8f8f8;
	margin: 0 auto;

	margin-top: 50px;
	border-radius: 4px;

	border: 1px solid #f8f8f8;

	box-shadow:-5px 0 5px #DDDDDD, 
    5px 0 5px #DDDDDD, 
    0 -5px 5px #DDDDDD, 
    0 5px 5px #DDDDDD;
}

.login-small-box{
	width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
}

.login-input-row{
	width: 100%;
	margin-top: 40px;
}

.input-login{
	width: 100%;
	height: 30px;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	text-indent: 1em;
}

.login-btn{
	width: 200px;
	height: 40px;
	background-color: #639ae3;
	border-radius: 3px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	cursor: pointer;

	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.login-btn span{
	font-size: 20px;
	color: #f8f8f8;
	font-family: "Microsoft YaHei" !important;
}

/***************end***************/