
body{
	margin: 0;
	background: #f8f8f8;
	color:#505050;
	font-family: "Microsoft YaHei" ! important;
}

/***************公用*******************/

.regular-btn{
	line-height: 40px;
	text-align: center;
	font-size:16px;	
	border: none;
	height:40px;
	color:white;
	width:150px;
	border-radius: 5px;
}
.red-btn{
	background-color:#ff5f76;
}



.footer-section{
	margin-top:10px;
	padding:10px 5px;
	background-color: #c4bfbf;
	color: #1f1f1f;
}
.tech-support{
	text-align: center;
}
.copy-right{
	margin-top: 5px !important;;
	width:90%;
	text-align: center;
	font-size:14px;
}
.auto-margin{
	margin-left: auto!important;
	margin-right: auto!important;
}
.f-left{
	float:left;
}

.f-right{
	float:right;
}

.none-display{
	display: none;
}

.padding-15{
	width: 100%;
	height:15px;
	background-color: #e6e6e6;
   }

a{
	text-decoration: none;
	color:#505050;
}
/*****************公用***end*********************/


/*************登录页面**************/

.login-box {
	width:100%; 
	height: 100%;
}

.login-box .brackgroud-img{
	position:fixed; 
	width:100%; 
	height: 100%;
	z-index: -1;
	margin-top: -35px;
}

.logo-div{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
}

.logo-div img{
	width: 100%;
}


.login-form-box{
	width: 87.5%;
	height :112px;
	margin: 0 auto;
	margin-top: 70px;
}

.login-username-box{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #f8f8f8;
	line-height: 40px;
	position: relative;
}

.login-password-box{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-bottom: 1px solid #f8f8f8;
	align:middle;
	line-height: 40px;
	position: relative;
}


.login-input-icon{
	width:23px;
	height:23px;
	margin-left:10px;
	vertical-align:middle;
}

.login-button-box{
	width: 87.5%;
	margin: 0 auto;
	margin-top:45px;
}


.login-button{
	width: 100%;
	font-size: 14px;
	background: #f8f8f8;
	color: #eda26a ;
	border-radius: 3px;
	border: 0;
	height:40px;
	line-height: 40px;
}

.login-to-register-button{
	width: 100%;
	font-size: 14px;
	background: transparent none;
	box-shadow: 0px 0px 0px 1px #f8f8f8 inset;
	color: #f8f8f8 ;
	border-radius: 3px;
	margin-top: 10px;
	height:40px;
	line-height: 40px;
}

.login-input-base-left{
	width: 1px;
	position:absolute;
	bottom: 0;
	
}

.login-input-base-right{
	width: 1px;
	position:absolute;
	bottom:0px;
 	right:0;
}

.login-text-box{
	margin-top: 10px;
	text-align: right;
}

.text-forget{
	color: #f8f8f8;
	font-size: 14px;
}

.login-username-input{
	width: 80%;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	background: transparent none;
	border: 0;
}


/*************首页***end***********/





/***************注册页***************/

.register-wrapper{
	position : relative;
	
}

.nav-header{
	width: 100%;
	height: 40px;
	background-color: #ff5776;
	line-height: 40px;
	text-align: center;
}

.nav-header-left{
	width: 12px;
	height: 20px;
	margin: 10px 0 10px 10px;
	left:0px;
	position: absolute;
}

.nav-header-text{
	font-weight: bold;
	font-size: 14px;
	color: #f8f8f8;
}

.middle-box{
	width: 100%;
	height: 254px;
	background-color: #f8f8f8;
}

.register-input-div{
	width: 96.875%;
	height: 254px;
	position: absolute;
	right: 0;
}

.input-div-column{
	height: 50px;
	line-height: 50px;
	position : relative;
}

.column-separate{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}

.input-div-column img{
	width: 23px;
	vertical-align:middle;
}

.register-input{
	width: 80%;
	height: 40px;
	font-size: 12px;
	background: transparent none;
	border: 0;
	margin-left: 10px;
	line-height: 40px;
	color: #a0a0a0;
}

.mobile-code-input{
	width: 53.125%;
	height: 40px;
	font-size: 12px;
	background: transparent none;
	border: 0;
	margin-left: 10px;
	line-height: 40px;
	color: #a0a0a0;
}

.register-button-box{
	width: 100%;
	margin-top: 20px;
}

.register-button{
	width: 62.5%;
	font-size: 14px;
	background: #ff5f76;
	color: #f8f8f8;
	border-radius: 3px;
	border: 0;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
}

.mobile-code-button{
	width: 28.125%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;

	position: absolute;
	right: 1.5em;
	bottom: 0.555555em;
}

.mobile-code-text{
	color: #ff5f76;
	font-size: 14px;
}


/**************注册页*****end****************/



/***************个人中心***************/

.personnel-wrapper{

}

.personnel-header-brackground{
	top: 0;
	width: 100%;
	height: 208px;
	background-image: url(../img/personnel-background.png);
	padding-top: 30px;
	
}

.personnel-portrait-box{
	width: 71px;
	height: 71px;
	margin: 0 auto;
	border: 2px solid #f8f8f8;
	-moz-border-radius: 71px; 
	-webkit-border-radius: 71px; 
	border-radius: 71px; 
}

.personnel-portrait-img{
	width: 71px;
	height: 71px;
	border-radius: 71px; 
}

.personnel-username-box{
	width: 100%;
	margin-top: 9px;
	text-align: center;
}

.personnel-username-text{
	font-size: 14px;
	color: #f8f8f8;
}

.personnel-content-box{
	width: 100%;
	margin-top: 40px;
	position : relative;
}

.personnel-unpaid{
	width: 32%;
	height: 24px;
	position: absolute;
	left: 0;
	padding: 0;
	text-align: center;
}

.personnel-already-paid{
	width: 32%;
	height: 24px;
	margin: 0 auto;
	text-align: center;
}

.personnel-pending-payment{
	width: 32%;
	height: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
}

.personnel-content-separate-1{
	width: 1px;
	position: absolute;
	left: 33%;
	top: 10px;
	border-left: 1px solid #f8f8f8;
	height: 24px;
}

.personnel-content-separate-2{
	width: 1px;
	position: absolute;
	right: 33%;
	top: 10px;
	border-left: 1px solid #f8f8f8;
	height: 24px;
}

.personnel-content-text{
	color: #f8f8f8;
	font-size: 12px;
}

.personnel-content-number{
	color: #f8f8f8;
	font-size: 14px;
}

.personnel-menu-box{
	width: 100%;
	height: 163px;
	background-color: #f8f8f8;
	
}

.personnel-menu-colmun{
	width: 96.875%;
	margin-left: 10px;
	border-bottom: 1px solid #b4b4b4;
	height: 40px;
	line-height: 40px;
	position:relative;
}

.personnel-menu-colmun-last{
	width: 96.875%;
	margin-left: 10px;
	height: 40px;
	position:relative;
	line-height: 40px;
}

.personnel-menu-separate-foot{
	width: 100%;
	height: 10px;
	background-color: #e6e6e6;
}

.personnel-menu-icon{
	width:15px;
	height:15px;
	position: absolute;
	top:50%;
	margin-top: -5px;
}


.personnel-menu-colmun span{
	margin-left: 25px;
	color: #505050;
	font-size: 12px;
}

.personnel-menu-colmun-last span{
	margin-left: 25px;
	color: #505050;
	font-size: 12px;
}

.personnel-menu-box .personnel-menu-colmun i{
	position: absolute;
	right: 0;
	color: #a0a0a0;
}

.personnel-menu-box .personnel-menu-colmun-last i{
	position: absolute;
	right: 0;
	color: #a0a0a0;
}

.personnel-menu-box .personnel-menu-colmun a{
	position: absolute;
	right: 35px;
	color: #a0a0a0;
	font-size: 12px;
}

.return-mall-button{
	width: 56.25%;
	font-size: 14px;
	background: #ff5f76;
	color: #f8f8f8 ;
	border-radius: 3px;
	border: 0;
	height:30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 15px;
}

.change-user-button{
	width: 56.25%;
	font-size: 14px;
	background: #d5d5d5;
	color: #505050 ;
	border-radius: 3px;
	border: 0;
	height:30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 15px;
}

.personnel-foot-box{
	padding-bottom: 15px;
}

/***************个人中心**end***************/

/**********首页******/

.home-page{
	/*background-color: #e6e6e6;*/
}

.image-slide{
    z-index: -1!important;
}

.image-slide img{
    width:100%;
}
.hotel-search-box{
    z-index:1000;
    margin-top: -100px;
    width:100%;
    height:40px;
    position: absolute;
	text-align: center;
	color:white;
}

.hotel-search-box input{
    margin:5px auto;
    height:35px;
	width:95%;
	border-radius: 5px;
	background-color: rgba(248, 248, 248, 0.49);
	border:0;
	padding:0 0 0 10px;
	font-size:16px;
}
.hotel-search-box i{
	z-index:1000;
	position: absolute;
	right:6%;
	top:15px;
	font-size:16px;
}

.hotel-cate{
	z-index:1000;
	margin-top: -30px;
	width:100%;
	height:72px;
	position: absolute;
	overflow:hidden;

}

.hotel-cate .l-side, .hotel-cate .r-side{
	width:50%;
	float:left;
}

.hotel-icon{
	width:70px;
	height:70px;
	border-radius: 100%;
	text-align: center;
}
.hotel-icon img{
	margin-top:5px;
	height:40px;
	width:40px;
}
.hotel-icon span{
	display: block;
	font-size:12px;
}

.dark-bg{
	background-color: #2e3c4a;
	color:#f8f8f8;
	border:1px solid #f8f8f8;
}
.white-bg{
	background-color: #f8f8f8;
	color:#2e3c4a;


}

.hotel-sub-cate{
	margin-top:50px;
	width:100%;
	height:150px;
	overflow: hidden;

}
.hotel-sub-cate .menu-grid{
	width:25%;
	float:left;
}

.hotel-sub-icon{
	width:70px;
	height:80px;
	text-align: center;
}
.hotel-sub-icon img{
	width:50px;
	height:50px;
}
.hotel-sub-icon span{
	display: block;
	font-size:12px;
	margin-top:5px;
}




.section-header{
	height:50px;
	width:100%;
	text-align: center;
	font-size:18px;
	font-weight: 600;
	line-height: 50px;
	color:#505050;
}

.topic-box{
	text-align: center;
	position: relative;
	font-size:14px;
	width: 100%;
	/*margin: 0 0 15px 0 ;*/

}

.topic-box img{
	width: 100%;

}

.center-text-topic{
	top:50%;
	left:50%;
	position: absolute;
	height:90px;
	width:180px;


}

.center-text-topic .wrap-border
{

	height:70px;
	width:150px;
	left: -50%;
	top: -50%;
	position: absolute;
	border:5px solid  rgba(248, 248, 248, 0.7);
	padding:10px 10px;
}

.center-text-topic .text{

	height:70px;
	width:150px;
	color:#505050;
	line-height: 70px;
	background-color: rgba(248, 248, 248, 0.7);
	margin:0 auto;

	font-size:16px;
	font-weight: 600;

}

.discount-section{
	/*margin: 0 0 15px 0 ;*/
}


.discount-section img{
	width: 100%;
}


.discount-price{
	width:100%;
	height:25px;

	position: absolute;
	margin-top:-25px;
}
.discount-price img{
	width:100%;
	height:25px;
}
.discount-price label{
	font-size:16px;
	color:#f8f8f8;
	position: absolute;
	margin:3px 0 0 10px;
	font-weight: 700;

}
.discount-price span{

	font-size:16px;
	display: inline-block;
}

 .hotel-location{
	height: 25px;
	line-height: 25px;
	color:#505050;
	 overflow: hidden;
}

.hotel-location i{
	/*//margin:5px 2px 0 10px!important;*/
}

.hotel-location .g-info{

	margin:0  5px;
	font-size:12px;


}
.hotel-location .p-info{
	margin:0  10px;
	font-size:14px;
}
.hotel-location s{

	font-size:16px;
	margin-right:10px;
}

.hotel-location label{
	font-size: 16px;

	clear:both;
	margin:0 10px;

}

.destin-section{
	padding:5px;

	overflow: hidden;
}

.destin-box{
	width:50%;

	float:left;
	position: relative;
}

.destin-box img{
	width:calc(100% - 10px);
	margin:5px 5px 5px 5px;
	border-radius: 5px;
}

.center-text-destin{
	top:50%;
	left:50%;
	position: absolute;
	height:40px;
	width:100px;
}

.center-text-destin div{

	height:40px;
	width:100px;
	line-height: 40px;
	color:white;
	margin:0 auto;
	left: -50%;
	top: -50%;
	position: absolute;
	text-align:center;
	font-size:18px;
	font-weight:600;
}
.center-text-destin i{
	margin-top:-5px!important;

}



.search-sidebar{
	background-color:white;
	width:100%!important;
}
.destination-box{
	overflow: hidden;
	margin:0 10px 10px 10px;
	border-bottom: 1px  solid #767676;
	padding:0 0 20px 0 ;
}



.destination-box input,.date-box input{
	margin-top:10px ;
	width:100%;
	height:35px;
	background: transparent;
	border:1px solid #767676;
	display: block;
	border-radius: 3px;
	box-shadow: 0;
	color:#767676;
}

.destination-box i{
	position: absolute;
	right:6%;
	top:18px;
	font-size:16px;
}
.destin-recommend-box{

	margin:10px 5px 5px 10px;
}

.destin-recommend-text{
	height:30px;
	line-height: 30px;
	font-size:14px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #ff5f76;
	color:#ff5f76;
	padding:0 10px ;
	float:left;
	margin:10px 10px 0 0;
}

.date-box{

	margin:20px 10px 10px 10px;
}
.select-date{
	height:30px;
	line-height:31px;
	width:95%;
	border:1px solid  #767676;
	border-radius: 5px;
	padding:0 5px;
	font-size: 14px;
	margin:0 0 10px 0;
	overflow: hidden;
}

.select-date i {
	color:#ff5f76;

	margin:0 5px;
	display: inline-block;
}
.select-date span{
	display: inline-block;
	padding:0 12px;
	color:#a0a0a0;
	height:30px;


}

.select-date-click{
	background: #dadada;

}


.calendar{
	display: none;
}
.calendar table{
	width:100%;

}

.calendar table tr th{
	font-weight: 500;
	padding:10px 0;
}
.calendar table tr td{

}

.calendar table tr td .date{
	height:32px;
	width:32px;
	line-height: 32px;
	text-align: center;
	border-radius: 100%;
	display: block;
}

.calendar table tr td .status{
	height:20px;
	width:32px;
	line-height: 20px;
	text-align: center;
	display: block;
	font-size:10px;

}


.disable-day{

	color:#a0a0a0;
}
.selected-day{
	color:#f8f8f8;
	 background-color:#ff5f76;

}



.select-month{

	overflow: hidden;
	width:100%;
	color:#ff5f76;
	text-align: center;
	line-height: 30px;
}
.select-month i{

}
/*.selected-day{*/
	/*color:#f8f8f8;*/
	/*background-color:#ee0224;*/
/*}*/

/*******************/


/**********酒店搜索结果页面**/

.redefine-search{
	height:40px;
	/*width:100%;*/
	background-color:#ff5776;
	border:1px solid #ff5776;
	padding:5px 10px;
	color:#505050;

}
.redefine-date-box{
	height:40px;

	background: #f8f8f8;
	width:130px;
	position: relative;
	border-radius: 5px;
}
.redefine-date-box .from,.redefine-date-box .to{
	height:20px;
	width:100%;
	font-size: 13px;
	padding: 0 0 0 10px;
	line-height: 20px;
}

.redefine-date-box i{
	position: absolute;
	right:3px;
	top:12px;
	color:#ff5f76;
}

.redefine-destin-box{
	width:calc(100% - 160px);
	height:40px;
	background:#f8f8f8 ;
	margin-left:10px;
	border-radius: 5px;
	padding: 0 10px;
	font-size:14px;
	line-height: 40px;
	position: relative;
}
.redefine-destin-box i
{
	color:#ff5f76;
	position: absolute;
	top:10px;
	right:10px;
}

.filter-box{
	height:40px;
	width: 100%;
}
.filter{
	height:40px;
	line-height: 40px;
	width:25%;
	text-align: center;

	float:left;
	font-size: 14px;
}

.filter img{
	position: absolute;
	margin-top: 12px;
	margin-left:5px;
	width:10px;
	height:15px;
}
.hotel-list-section{

}

.hotel-list-section img{
	width: 100%;
}


.general-price{
	width:100%;
	height:25px;

	position: absolute;
	margin-top:-25px;
}
.general-price img{
	width:100%;
	height:25px;
}
.general-price label{
	font-size:16px;
	color:#f8f8f8;
	position: absolute;
	margin:3px 0 0 10px;
	font-weight: 700;

}
.general-price span{

	font-size:16px;
	display: inline-block;
}





/**************************/


/*********酒店详情*************/
.hotel-img-section {
	position:relative;
}

.hotel-img-section i{

	position: absolute;
	top:10px;
	right:10px;
	color:#f8f8f8;
}
.hotel-detail-img{
	width: 100%;
}

.f-t-detail{
	width:100%;
	margin:10px 0 0 0  ;
	height:45px;
	overflow: hidden;
}
.f-date{
	width:50%;
	float:left;
	height:40px;
	text-align: center;
	border-right:1px solid #505050;
}
.f-date .text,.t-date .text{
	font-size:14px;
	display: block;
}
.f-date .date,.t-date .date{
	margin-top:5px;
	font-size:16px!important;
	display: block;
	color:#ff4200;
	font-weight: 600;
}

.t-date{
	width:calc(100% - 50% - 1px);
	float:left;
	height:40px;
	text-align: center;
}
.t-days{
	clear:both;
	text-align: center;
	font-size:14px;
	color:#505050;
	font-weight: 600;
	margin:5px 0 ;
}
.geo-detail{

	height:40px;
	line-height:40px;
	margin:0 10px;
	font-size:14px;

}
.geo-detail .marker{
	margin-top:-5px!important;

}
.geo-detail .angle{
	margin-top:6px;
}

.room-type{

}

.r-detail{
	height:90px;
	margin:0 10px;
	border-top: 1px solid lightgrey;
	clear:both;
	display: block;
}
.r-detail img{
	width:80px;
	height:70px;
	margin:10px 5px 10px 0;
	border-radius: 5px;
	float:left;
}
.r-info{
	margin:10px 10px 10px 5px;
	float:left;
}
.r-info .up{

	font-weight: 600;
	display: block;
	font-size:14px;
	margin-top:10px;
}
.r-info .down{
	color: #9a9a9a;
	font-size:14px;
	display: block;
	margin-top:10px;

}
.r-price{
	color:#ff4200;
	font-weight: 600;
	float:right;
	margin:10px 0 0 0 ;
	height:80px;
	line-height:80px;
	font-size: 12px;
}
.r-price .pri{

	font-size:15px;
}
.r-fac{

	overflow:hidden;
}
.r-fac-header {
	height:40px;
	font-size:16px;
	text-align: center;
	line-height: 40px;
}
.r-fac-grid{
	width:25%;
	float:left;
	margin:0 0 10px 0;
}
.r-fac-list{
	margin-top:10px;
}
.r-fac-icon{
	width:60px;
	height:60px;
	text-align: center;
}
.r-fac-icon img{
	width:40px;
	height:40px;
}
.r-fac-icon span{
	display: block;
	font-size:12px;

}
.r-fac-more{
	margin:10px;
	text-align: center;
	clear:both;
	height:30px;
	line-height: 30px;
	font-size:14px;
}

.r-comments{

}
.r-point{
	margin:10px;
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid lightgrey;
}
.r-point .ave-point{

}
.r-point .t-point{
	color:#9a9a9a;;

}
.r-com-box{
	margin: 10px;
	overflow: hidden;

}
.r-com-box img{
	margin:0 10px 5px 0 ;
	width:40px;
	height:40px;
	float:left;
}
.cus-info{
	float:left;
}
.cus-info .up{
	font-size:14px;
	display:block;
}
.cus-info .down{
	margin-top:2px;
	font-size:12px;
	display:block;
	color:#9a9a9a;
}
.star-point{
	float:right;
	height:40px;
	line-height: 40px;
}


.comm-detail{

	clear: both;
	position: relative;
	border:1px solid #f8f8f8;

}
.comm-detail .triangle-up-small{

	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #e6e6e6;
	position: absolute;
	left:15px;

}
.comm-detail .text{
	clear: both;
	margin:10px 0;
	padding:10px;
	border-radius: 5px;
	background-color:#e6e6e6;
}

.h-policy{
	margin: 10px;
}

.h-policy .h-p-header{

	height:40px;
	font-size:16px;
	text-align: center;
	line-height: 40px;
}
.h-policy .h-p-detail{
	color:#9a9a9a;
	margin: 5px 5px;
	font-size: 14px;
}
	/*****************************/



/*********预定页面**************/
.booking-info{
	margin:10px;
}

.r-number{
	height:40px;
	line-height:40px;
}
.r-number .text{
	font-size:16px;
	display: inline-block;
	margin:0 5px 0 0 ;
	float:left;
}
.r-number .price{
	color:#9a9a9a;
	font-size:14px;
	float:left;
}

.r-num-count{

	float:right;
}
.r-num-count .icon-count{
	margin-top:8px;
	margin-right:0!important;
	/*border:1px solid lightgray;*/
	height:28px!important;
	width:30px!important;
	line-height: 28px!important;
}
.r-num-count .quantity{
	width:50px;
	margin-top:5px;
	height:25px!important;
	border:1px solid lightgray;
	text-align: center;
	line-height: 25px!important;
	border-radius: 0%!important;
}

.r-num-count .minus{
	color:#9a9a9a;
}

.r-num-count .plus{

	color:#ff5f76;
}

.in-h-time{
	height:40px;
	line-height:40px;
}

.in-h-time .text{
	font-size:16px;
	display: inline-block;

	float:left;
}
.in-h-time .time{
	font-size:14px;
	color:#9a9a9a;
}
.in-h-time .time i{
	display: inline-block;
	margin-top:-3px;
}


.cus-detail{
	margin:10px;
	overflow: hidden;
}

.cus-contact{
	margin:10px;
}
.cus-line-detail,.cus-contact{

	height:40px;
	line-height: 40px;
	overflow: hidden;
}

.cus-line-detail .text,.cus-contact .text{

	font-size:16px;
	display: inline-block;
	float:left;
}

.cus-line-detail input, .cus-contact input{
	display: inline-block;
	margin-top:3px;
	font-size:14px;
	background: transparent;
	border: 0;
	height:30px;
}


.confirm-booking{
	overflow: hidden;
	height:40px;
	width:100%;
}
.b-t-amount{
	height:40px;
	line-height: 40px;
	width:calc(100% - 200px);
	padding:0 10px;
	font-size:14px;

}
.b-t-amount span{
	display: inline-block;
}
.b-t-amount .t-amount{
	color:#ff4200;
	font-size:16px;
}
.b-confirm-btn{
	height:40px;
	width:150px;
	background-color:#ff5f76 ;
	color:white;
	text-align: center;
	line-height: 40px;
}
/******************************/


/**********订单列表************/

.order-menu{
	width: 100%;
	overflow: auto;
	height: 50px;
	line-height: 50px;
	position:relative;

}

.order-menu .menu-element{
	width: 25%;
	text-align: center;
	float: left;
}

.scroll-line{
	position:absolute;
	background-color:#ff5f76;
	width:25%;
	bottom:0;
	left:0;
	height:5px
}

.menu-element .item{
	font-size: 12px;
	color: #bababa;
}

.order-menu .menu-element .menu-select-color{
	color: #505050;
}

.menu-separate-colmun{
	height: 10px;
	width: 100%;
	background-color: #e6e6e6;
}

.order-list-box{
	width: 100%;
}

.order-colmun{
	padding: 12.5px 10px 10px 10px;
	border-bottom: 1px solid #e6e6e6;
}

.order-number-time{
	position:relative;
	height: 12px;
	line-height: 12px;
}

.order-number-time span{
	font-size: 12px;
}

.order-list-time{
	position:absolute;
	right: 0;
}

.order-list-time img{
	width: 12px;
	vertical-align:middle;
	margin-right: 5px;
}

.order-colmun-img-text{
	width: 100%;
	height: 55px;
	margin-top: 10px;
}

.order-colmun-img{
	width: 28.125%;
	height: 55px;
	float: left;
}

.order-colmun-img img {
	width: 100%;
	border-radius: 3px;
}

.order-colmun-text{
	width: 62.5%;
	/*height: 55px;*/
	margin-left: 10px;
	padding: 6px 0 6px 0;
	float: left;
}

.order-colmun-room-name{
	font-size: 14px;
	color: #505050;
	width: 100%;
}

.order-colmun-arrive-time{
	margin-top: 12.5px;
	font-size: 12px;
	color: #505050;
	width: 100%;
}

.order-colmun-foot{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-top: 10px;
}

.order-colmun-foot span{
	font-size: 12px;
	/*color: #505050;*/
}

.order-colmun-foot .order-status-cancle{
	border: 1px solid #a0a0a0;
}

.order-colmun-foot .order-status-cancle .mobile-code-text{
	color: #a0a0a0;
}

.order-colmun-button{
	width: 28.125%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;
	float: right;
}

.order-colmun-rating{
	width: 35%;
	height: 30px;
	line-height: 30px;
	float: right;
}

.order-colmun-rating img{
	width: 12px;
}

/***********end****************/


/*************订单详情**************/

.order-info-hotel{
	height: 55px;
	padding: 10px;
	background-color: #f8f8f8;
}

.order-hotel-img{
	width: 34.375%;
	height: 55px;
	float: left;
	overflow: hidden;
	border-radius: 3px;
}

.order-hotel-img img{
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
}

.order-hotel-content{
	width: 59.375%;
	float: left;
	height: 55px;
	margin-top: 6px;
	margin-left: 10px;
	position: relative;
}

.order-hotel-content-name{
	font-size: 14px;
	color: #505050;
}

.order-hotel-content-info{
	font-size: 12px;
	color: #adadad;
	position: absolute;
	bottom: 11px;
}

.orderinfo-detail-list-box{
	width: 100%;
	background-color: #f8f8f8;
	margin-top: 10px;
}

.orderinfo-detail-colmun{
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
}

.orderinfo-detail-colmun-above{
	height: 12px;
	line-height: 12px;
}

.orderinfo-detail-colmun-above .name{
	font-size: 12px;
}

.orderinfo-detail-colmun-above .money{
	font-size: 11px;
	color: #a0a0a0;
	float: right;
}

.orderinfo-detail-colmun-middle{
	margin-top: 10px;
	height: 10px;
	line-height: 10px;
}

.orderinfo-detail-colmun-middle span{
	font-size: 10px;
	color: #a0a0a0;
}

.orderinfo-detail-colmun-below{
	height: 12px;
	line-height: 12px;
	margin-top: 10px;

	font-size: 12px;
}

.orderinfo-detail-colmun-below .user{
	float: right;
}

.orderinfo-detail-colmun-below .user img{
	width: 12px;
	margin-right: 10px;
}

.orderinfo-detail-number-box{
	width: 100%;
	padding-bottom: 15px;
	background-color: #f8f8f8;
	margin-top: 10px;
	padding-top: 15px;
}

.orderinfo-detail-number-box div{
	font-size: 10px;
	color: #505050;
	margin-left: 10px;
}

.order-phone-number{
	margin-top: 15px;
	margin-bottom: 15px;
}

.orderinfo-operate-menu-box{
	width: 100%;
	background-color: #f8f8f8;
	margin-top: 10px;
}

.orderinfo-operate-menu-box div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e6e6e6;
}

.orderinfo-operate-menu-box div .chevron{
	margin-left: 6px;
}

.orderinfo-operate-menu-box div .menu-name{
	font-size: 12px;
}

.orderinfo-menu-map .marker{
	margin-left: 6px;
}

.orderinfo-operate-menu-box div .menu-remarks{
	font-size: 10px;
	color: #a0a0a0;
	float: right;
}

.orderinfo-menu-icon{
	width: 15px;
	margin-left: 10px;
	margin-right: 4px;
	vertical-align:middle;
}

.orderinfo-button-box{
	background-color: #e6e6e6;
}

.orderinfo-paynow-button{
	width: 62.5%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.orderinfo-cancel-button{
	width: 62.5%;
	height: 30px;
	background: #b4b4b4;
	border: 0;
	border-radius: 3px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.orderinfo-cancel-button span{
	color: #f8f8f8;
}

/************end************************/

/**********用户信息修改***************/

.edit-username-box{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #f8f8f8;
}

.edit-username-box img{
	width: 15px;
	margin-left: 12px;
	vertical-align:middle;
}

.edit-username-box span{
	margin-left: 10px;
	font-size: 12px;
}

.edit-username-box .username{
	font-size: 10px;
	color: #a0a0a0;
	float: right;
	margin-right: 10px;
}

.edit-password-box{
	background-color: #f8f8f8;
	margin-top: 10px;
}

.edit-password-colmun{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}

.edit-password-colmun img{
	width: 15px;
	vertical-align:middle;
	margin-left: 12px;
}

.edit-password-colmun span{
	font-size: 12px;
	margin-left: 10px;
}

.edit-password-colmun .remarks{
	font-size: 10px;
	color: #a0a0a0;
	float: right;
	margin-right: 10px;
}

.edituser-mobilecode-button{
	width: 28.125%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;
	position: absolute;
	right: 10px;
	bottom: 9px;
}

.edituser-confirm-button{
	width: 53.125%;
	height: 30px;
	background: #ff5f76;
	border: 0;
	border-radius: 3px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 128px;
}

.edituser-confirm-button span{
	color: #f8f8f8;
}

.edit-username-box input{
	background: transparent none;
	border: 0;
	margin-left: 10px;
	font-size: 12px;
	line-height: 16px;
}

.edit-password-colmun input{
	background: transparent none;
	border: 0;
	margin-left: 10px;
	font-size: 12px;
	width: 100px;
	line-height: 16px;
}

/******************end****************/

/*********我的收藏****************/

.my-collection-list-box{
	width: 100%;
	background-color: #f8f8f8;
}

.my-collection-colmun{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #e6e6e6;
}

.my-collection-colmun-img{
	width: 70px;
	height: 70px;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.my-collection-colmen-content{
	width: 60%;
	float: left;
	margin-left: 10px;
	height: 70px;
	margin-top: 10px;

}

.my-collection-colmen-content .hotel-name{
	font-size: 14px;
	margin-top: 12px;
	height: 14px;
	line-height: 14px;
}

.my-collection-colmen-content .hotel-content{
	font-size: 12px;
	margin-top: 20px;
	color: #a0a0a0;
	height: 12px;
	line-height: 12px;
}

.my-collection-colmun-delect{
	width: 16px;
	margin-right: 15px;
	margin-top: 37px;
	float: right;
}

/**************end***************/

/*********评价酒店***************/

.evaluate-hotel-wrapper .nav-header .nav-header-text{
	/*margin: 0 auto;*/
	margin-left: 38px;
}

.evaluate-hotel-nav{
	font-weight: bold;
	font-size: 14px;
	color: #f8f8f8;
	float: right;
	margin-right: 10px;
}

.evaluate-hotel-total-score{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #f8f8f8;
	font-size: 14px;
}

.evaluate-hotel-detail-box{
	width: 100%;
	background-color: #f8f8f8;
	margin-top: 10px;
}

.evaluate-hotel-colmun{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e6e6e6;
}

.evaluate-hotel-colmun .evaluate-name{
	font-size: 14px;
	margin-left: 10px;
	width: 15.625%;
	float: left;
}

.evaluate-hotel-colmun .rating{
	margin-left: 25px;
}

.evaluate-hotel-colmun .evaluate-describe{
	font-size: 12px;
	color: #a0a0a0;
	float: right;
	margin-right: 10px;
}

.evaluate-hotel-textarea-box{
	background-color: #f8f8f8;
	margin-top: 10px;
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.evaluate-hotel-textarea-box textarea{
	color: #a0a0a0;
	font-size: 12px;
	border: 0;
}

.evaluate-hotel-textarea{
	width: 98%;
	height: 100px;
	word-wrap: break-word;
}
/*************end******************/