
body{
	margin: 0;
}

/***************公用*******************/

.regular-btn{
	line-height: 50px;
	text-align: center;
	font-size:16px;	
	border: none;
	height:30px;
}
.red-btn{
	background-color:red;
}



.footer-section{
	margin-top:10px;
	padding:10px 5px;
	background-color: #c4bfbf;
	color: #1f1f1f;
}
.tech-support{
	text-align: center;
}
.copy-right{
	margin-top: 5px !important;;
	width:90%;
	text-align: center;
	font-size:14px;
}
.auto-margin{
	margin-left: auto!important;
	margin-right: auto!important;
}
.f-left{
	float:left;
}

/*****************公用***end*********************/


/*************登录页面**************/

.login-box {
	width:100%; 
	height: 100%;
}

.login-box .brackgroud-img{
	position:fixed; 
	width:100%; 
	height: 100%;
	z-index: -1;
	margin-top: -35px;
}

.logo-div{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
}

.logo-div img{
	width: 100%;
}


.login-form-box{
	width: 87.5%;
	height :112px;
	margin: 0 auto;
	margin-top: 70px;
}

.login-username-box{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #f8f8f8;
	line-height: 40px;
	position: relative;
}

.login-password-box{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border-bottom: 1px solid #f8f8f8;
	align:middle;
	line-height: 40px;
	position: relative;
}


.login-input-icon{
	width:23px;
	height:23px;
	margin-left:10px;
	vertical-align:middle;
}

.login-button-box{
	width: 87.5%;
	margin: 0 auto;
	margin-top:45px;
}


.login-button{
	width: 100%;
	font-size: 14px;
	background: #f8f8f8;
	color: #eda26a ;
	border-radius: 3px;
	border: 0;
	height:40px;
	line-height: 40px;
}

.login-to-register-button{
	width: 100%;
	font-size: 14px;
	background: transparent none;
	box-shadow: 0px 0px 0px 1px #f8f8f8 inset;
	color: #f8f8f8 ;
	border-radius: 3px;
	margin-top: 10px;
	height:40px;
	line-height: 40px;
}

.login-input-base-left{
	width: 1px;
	position:absolute;
	bottom: 0;
	
}

.login-input-base-right{
	width: 1px;
	position:absolute;
	bottom:0px;
 	right:0;
}

.login-text-box{
	margin-top: 10px;
	text-align: right;
}

.text-forget{
	color: #f8f8f8;
	font-size: 14px;
}

.login-username-input{
	width: 80%;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	background: transparent none;
	border: 0;
}


/*************首页***end***********/





/***************注册页***************/

.register-wrapper{
	position : relative;
	
}

.nav-header{
	width: 100%;
	height: 40px;
	background-color: #ff5776;
	line-height: 40px;
	text-align: center;
}

.nav-header-left{
	width: 12px;
	height: 20px;
	margin: 10px 0 10px 10px;
	left:0px;
	position: absolute;
}

.nav-header-text{
	font-weight: bold;
	font-size: 14px;
	color: #f8f8f8;
}

.middle-box{
	width: 100%;
	height: 254px;
	background-color: #f8f8f8;
}

.register-input-div{
	width: 96.875%;
	height: 254px;
	position: absolute;
	right: 0;
}

.input-div-column{
	height: 50px;
	line-height: 50px;
	position : relative;
}

.column-separate{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}

.input-div-column img{
	width: 23px;
	vertical-align:middle;
}

.register-input{
	width: 80%;
	height: 40px;
	font-size: 12px;
	background: transparent none;
	border: 0;
	margin-left: 10px;
	line-height: 40px;
	color: #a0a0a0;
}

.mobile-code-input{
	width: 53.125%;
	height: 40px;
	font-size: 12px;
	background: transparent none;
	border: 0;
	margin-left: 10px;
	line-height: 40px;
	color: #a0a0a0;
}

.register-button-box{
	width: 100%;
	margin-top: 20px;
}

.register-button{
	width: 62.5%;
	font-size: 14px;
	background: #ff5f76;
	color: #f8f8f8;
	border-radius: 3px;
	border: 0;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
}

.mobile-code-button{
	width: 28.125%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;

	position: absolute;
	right: 1.5em;
	bottom: 0.555555em;
}

.mobile-code-text{
	color: #ff5f76;
	font-size: 14px;
}


/**************注册页*****end****************/



/***************个人中心***************/

.personnel-wrapper{

}

.personnel-header-brackground{
	top: 0;
	width: 100%;
	height: 208px;
	background-image: url(../img/personnel-background.png);
	padding-top: 30px;
	
}

.personnel-portrait-box{
	width: 71px;
	height: 71px;
	margin: 0 auto;
	border: 2px solid #f8f8f8;
	-moz-border-radius: 71px; 
	-webkit-border-radius: 71px; 
	border-radius: 71px; 
}

.personnel-portrait-img{
	width: 71px;
	height: 71px;
	border-radius: 71px; 
}

.personnel-username-box{
	width: 100%;
	margin-top: 9px;
	text-align: center;
}

.personnel-username-text{
	font-size: 14px;
	color: #f8f8f8;
}

.personnel-content-box{
	width: 100%;
	margin-top: 40px;
	position : relative;
}

.personnel-unpaid{
	width: 32%;
	height: 24px;
	position: absolute;
	left: 0;
	padding: 0;
	text-align: center;
}

.personnel-already-paid{
	width: 32%;
	height: 24px;
	margin: 0 auto;
	text-align: center;
}

.personnel-pending-payment{
	width: 32%;
	height: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
}

.personnel-content-separate-1{
	width: 1px;
	position: absolute;
	left: 33%;
	top: 10px;
	border-left: 1px solid #f8f8f8;
	height: 24px;
}

.personnel-content-separate-2{
	width: 1px;
	position: absolute;
	right: 33%;
	top: 10px;
	border-left: 1px solid #f8f8f8;
	height: 24px;
}

.personnel-content-text{
	color: #f8f8f8;
	font-size: 12px;
}

.personnel-content-number{
	color: #f8f8f8;
	font-size: 14px;
}

.personnel-menu-box{
	width: 100%;
	height: 163px;
	background-color: #f8f8f8;
	
}

.personnel-menu-colmun{
	width: 96.875%;
	margin-left: 10px;
	border-bottom: 1px solid #b4b4b4;
	height: 40px;
	line-height: 40px;
	position:relative;
}

.personnel-menu-colmun-last{
	width: 96.875%;
	margin-left: 10px;
	height: 40px;
	position:relative;
	line-height: 40px;
}

.personnel-menu-separate-foot{
	width: 100%;
	height: 10px;
	background-color: #e6e6e6;
}

.personnel-menu-icon{
	width:15px;
	height:15px;
	position: absolute;
	top:50%;
	margin-top: -5px;
}


.personnel-menu-colmun span{
	margin-left: 25px;
	color: #505050;
	font-size: 12px;
}

.personnel-menu-colmun-last span{
	margin-left: 25px;
	color: #505050;
	font-size: 12px;
}

.personnel-menu-box .personnel-menu-colmun i{
	position: absolute;
	right: 0;
	color: #a0a0a0;
}

.personnel-menu-box .personnel-menu-colmun-last i{
	position: absolute;
	right: 0;
	color: #a0a0a0;
}

.personnel-menu-box .personnel-menu-colmun a{
	position: absolute;
	right: 35px;
	color: #a0a0a0;
	font-size: 12px;
}

.return-mall-button{
	width: 56.25%;
	font-size: 14px;
	background: #ff5f76;
	color: #f8f8f8 ;
	border-radius: 3px;
	border: 0;
	height:30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 15px;
}

.change-user-button{
	width: 56.25%;
	font-size: 14px;
	background: #d5d5d5;
	color: #505050 ;
	border-radius: 3px;
	border: 0;
	height:30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 15px;
}

.personnel-foot-box{
	padding-bottom: 15px;
}

/***************个人中心**end***************/

/**********首页******/

.image-slide{
    z-index: -1!important;
}

.image-slide img{
    width:100%;
}
.hotel-search-box{
    z-index:1000;
    margin-top: -50px;
    width:100%;
    height:40px;
    position: absolute;
	text-align: center;
	color:white;
}

.hotel-search-box input{
    margin:5px auto;
    height:35px;
	width:95%;
	border-radius: 5px;
	background-color: rgba(248, 248, 248, 0.49);
	border:0;
	padding:0 0 0 10px;
	font-size:16px;
}
.hotel-search-box i{
	position: absolute;
	right:6%;
	top:15px;
	font-size:16px;
}

.section-header{
	height:50px;
	width:100%;
	text-align: center;
	font-size:18px;
	font-weight: 600;
	line-height: 50px;
	color:#505050;
}

.topic-box{
	text-align: center;
	position: relative;
	font-size:14px;
	width: 100%;
	margin: 0 0 15px 0 ;

}

.topic-box img{
	width: 95%;
	border-radius: 5px;
}

.center-text-circle{
	top:50%;
	left:50%;
	position: absolute;
	height:80px;
	width:80px;
}

.center-text-circle div{
	border-radius: 100%;
	height:80px;
	width:80px;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
	line-height: 80px;
	color:white;
	margin:0 auto;
	left: -50%;
	top: -50%;
	position: absolute;
}


.destin-section{
	padding:5px;

	overflow: hidden;
}

.destin-box{
	width:50%;

	float:left;
	position: relative;
}

.destin-box img{
	width:calc(100% - 10px);
	margin:5px 5px 5px 5px;
	border-radius: 5px;
}

.center-text-destin{
	top:50%;
	left:50%;
	position: absolute;
	height:40px;
	width:100px;
}

.center-text-destin div{

	height:40px;
	width:100px;
	line-height: 40px;
	color:white;
	margin:0 auto;
	left: -50%;
	top: -50%;
	position: absolute;
	text-align:center;
	font-size:18px;
	font-weight:600;
}
.center-text-destin i{
	margin-top:-5px!important;

}


.search-sidebar{
	background-color:white;
}
.destination-box{
	overflow: hidden;
	margin:0 10px 10px 10px;
	border-bottom: 1px  solid #767676;
	padding:0 0 20px 0 ;
}



.destination-box input,.date-box input{
	margin-top:10px ;
	width:100%;
	height:35px;
	background: transparent;
	border:1px solid #767676;
	display: block;
	border-radius: 3px;
	box-shadow: 0;
	color:#767676;
}

.destination-box i{
	position: absolute;
	right:6%;
	top:18px;
	font-size:16px;
}
.destin-recommend-box{

	margin:10px 5px 5px 10px;
}

.destin-recommend-text{
	height:30px;
	line-height: 30px;
	font-size:14px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #ff5f76;
	color:#ff5f76;
	padding:0 10px ;
	float:left;
	margin:10px 10px 0 0;
}

.date-box{

	margin:20px 10px 10px 10px;
}
.select-date{
	height:30px;
	line-height:31px;
	width:95%;
	border:1px solid  #767676;
	border-radius: 5px;
	padding:0 5px;
	font-size: 14px;
	margin:0 0 10px 0;
}

.select-date i {
	color:#ff5f76;

	margin:0 5px;
	display: inline-block;
}
.select-date span{
	display: inline-block;
}

.calendar{

}
.calendar table{
	width:100%;

}

.calendar table tr th{
	font-weight: 500;
	padding:10px 0;
}
.calendar table tr td{
	border:1px solid lightgrey;

	height:30px;
	line-height: 30px;
	text-align: center;
}
.disable-day{
	background-color:#e6e6e6;
	color:#a0a0a0;
}
.selected-day{
	background-color:#f8f8f8;
	color:#ff5f76;

}
.selected-days{
	background-color:#f8f8f8;
	color:#ee0224;
}

/*******************/



/**********订单列表************/

.order-menu{
	width: 100%;
	overflow: auto;
	height: 50px;
	line-height: 50px;
	position:relative;

}

.order-menu .menu-element{
	width: 25%;
	text-align: center;
	float: left;
}

.scroll-line{
	position:absolute;
	background-color:#ff5f76;
	width:25%;
	bottom:0;
	left:0;
	height:5px
}

.menu-element .item{
	font-size: 12px;
	color: #bababa;
}

.order-menu .menu-element .menu-select-color{
	color: #505050;
}

.menu-separate-colmun{
	height: 10px;
	width: 100%;
	background-color: #e6e6e6;
}

.order-list-box{
	width: 100%;
}

.order-colmun{
	padding: 12.5px 10px 10px 10px;
	border-bottom: 1px solid #e6e6e6;
}

.order-number-time{
	position:relative;
	height: 12px;
	line-height: 12px;
}

.order-number-time span{
	font-size: 12px;
}

.order-list-time{
	position:absolute;
	right: 0;
}

.order-list-time img{
	width: 12px;
	vertical-align:middle;
	margin-right: 5px;
}

.order-colmun-img-text{
	width: 100%;
	height: 55px;
	margin-top: 10px;
}

.order-colmun-img{
	width: 28.125%;
	height: 55px;
	float: left;
}

.order-colmun-img img {
	width: 100%;
	border-radius: 3px;
}

.order-colmun-text{
	width: 62.5%;
	/*height: 55px;*/
	margin-left: 10px;
	padding: 6px 0 6px 0;
	float: left;
}

.order-colmun-room-name{
	font-size: 14px;
	color: #505050;
	width: 100%;
}

.order-colmun-arrive-time{
	margin-top: 12.5px;
	font-size: 12px;
	color: #505050;
	width: 100%;
}

.order-colmun-foot{
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin-top: 10px;
}

.order-colmun-foot span{
	font-size: 12px;
	/*color: #505050;*/
}

.order-colmun-foot .order-status-cancle{
	border: 1px solid #a0a0a0;
}

.order-colmun-foot .order-status-cancle .mobile-code-text{
	color: #a0a0a0;
}

.order-colmun-button{
	width: 28.125%;
	height: 30px;
	background: transparent none;
	border: 1px solid #ff5f76;
	border-radius: 3px;
	line-height: 30px;
	float: right;
}

.order-colmun-rating{
	width: 35%;
	height: 30px;
	line-height: 30px;
	float: right;
}

.order-colmun-rating img{
	width: 12px;
}

/***********end****************/


/*************订单详情**************/

.order-info-hotel{
	height: 55px;
	padding: 10px;
}

.order-hotel-img{
	width: 34.375%;
	height: 55px;
	float: left;
	overflow: hidden;
	border-radius: 3px;
}

.order-hotel-img img{
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
}

.order-hotel-content{
	width: 59.375%;
	float: left;
	height: 55px;
	margin-top: 6px;
	margin-left: 10px;
	position: relative;
}

.order-hotel-content-name{
	font-size: 14px;
	color: #505050;
}

.order-hotel-content-info{
	font-size: 12px;
	color: #adadad;
	position: absolute;
	bottom: 11px;
}

.orderinfo-detail-list-box{
	width: 100%;
}

.orderinfo-detail-colmun{
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
}

.orderinfo-detail-colmun-above{
	height: 12px;
	line-height: 12px;
}

.orderinfo-detail-colmun-above .name{
	font-size: 12px;
}

.orderinfo-detail-colmun-above .money{
	font-size: 11px;
	color: #a0a0a0;
	float: right;
}

.orderinfo-detail-colmun-middle{
	margin-top: 10px;
	height: 10px;
	line-height: 10px;
}

.orderinfo-detail-colmun-middle span{
	font-size: 10px;
	color: #a0a0a0;
}

.orderinfo-detail-colmun-below{
	height: 12px;
	line-height: 12px;
	margin-top: 10px;

	font-size: 12px;
}

.orderinfo-detail-colmun-below .user img{
	width: 12px;
}
/************end************************/

