
/*****公共部分****/
html,body{
	width: 100%;
	height:100%;
	margin: 0;

	color:#505050;
	font-family: "Microsoft YaHei" ! important;
}
a{
	text-decoration: none;
	color:white;

}

.dark-anchor{
	text-decoration: none;
	color:#505050;
}

.auto-margin{
	margin:0 auto;
}

.padding-10{
	height:10px;
}
.padding-15{
	height:15px;
}
.padding-30{
	height:30px;
}
.padding-60{
	height:60px;

}
.padding-80{
	height:80px;
	width: 100%;
}
.none-display{
	display: none;
}
.pusher{
	min-height: 100%!important;
}

.f-left{
	float:left;
}
.f-right{
	float:right;
}
.grey-background{
	background-color: #f2f2f2;
}
.page{
	min-height:100%;
	margin:auto;
}
.regular-btn{
	line-height: 40px;
	text-align: center;
	font-size:16px;
	border: none;
	height:40px;
	color:white;
	width:150px;
	border-radius: 5px;
	cursor: pointer;
}
.red-btn{
	background-color:#ff5f76;
}


/******/


/******网站首页******/




.home-page{
/*background-color: rgba(16, 16, 16, 0.86);*/

}
.site-header{
	top:0;

	position: absolute;
	height:50px;
	background-color: rgba(23, 10, 34, 0.8);
	line-height: 50px;
	z-index:1001;
	width: 100%;
}


.site-menu-nav{
	float:right;
	margin-right:10px;

}

.site-menu-nav span{
	font-size:16px;
	display: inline-block;
	margin-right:10px;
	color:#f8f8f8;
	padding:0 10px;
}
.site-menu-nav span:hover{
	cursor: pointer;
	background: rgb(0, 163, 192);
	transition:background-color 0.3s ease;
}
.site-menu-nav i{
	color:#f8f8f8;
	display: block;
	margin-top:-5px!important;

}

.home-site-header{
	top:0;
	right:10px;
	position: absolute;
	height:50px;

	line-height: 50px;
	z-index:1001;
}

.mobile-menu-nav{
	display: none;
}

.home-menu-nav{
	float:right;
	margin-right:10px;
}

.home-menu-nav span{
	font-size:16px;
	display: inline-block;
	margin-right:10px;
	color:#f8f8f8;
	padding:0 10px;
}
.home-menu-nav span:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
	transition:background-color 0.3s ease;
}
.home-menu-nav i{
	color:#f8f8f8;
	display: block;
	margin-top:-5px!important;

}



.home-slide{

	position: relative;
}
.home-slide img{
	max-height: 500px!important;
}
.slide-caption{

	width:100%;
	height:100%;
	position: absolute;

}
 .slide-center-text{

	 top:50%;
	 left:50%;
	 position: absolute;
	 width:600px;
	 height: 160px;

}



.slide-center-text div{

	width:600px;
	height: 160px;

	color:white;
	position:absolute;
	z-index: 1001;
	left: -50%;
	top: -50%;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	text-align: center;

}
.slide-center-text img{
	margin: 0 50px;
	width:500px!important;
	display: block;
}

.slide-left-text{
	display: none;
}

.slide-center-text .up{

	font-size: 30px;
	display: block;
	margin:44px 0 10px 0 ;
}

.slide-center-text .down{

	font-size:16px;
	display: block;
	background-color: rgb(0, 163, 192);
	border-radius: 2px;
	height:40px;
	line-height: 40px;

	width:150px;
	margin: 10px auto;
	cursor: pointer;
}


.sub-slogan{
	color: rgba(44, 0, 0, 0.91);
	text-align:center;
	margin-top:20px;
	margin-bottom: 20px;

}
.sub-slogan h2{

	margin:0;
	font-size:1.6em;
}
.sub-slogan h3{
	margin:0;
	font-size:1.2em;

}
.home-hotel-warp{

	margin-top:10px;
	overflow: hidden;
	display: block;
	z-index:1003;
	position: relative;
	min-height:600px;
}

.h-cate-nav{

	height:42px;
	width:100%;

	clear: both;
	overflow: hidden;
}
.cate-nav-btn{
	height:40px;
	width:120px;
	line-height: 40px;
	font-size: 14px;
	float: left;
	margin-right:20px;
	border:1px solid rgb(0, 163, 192);
	text-align: center;
	color:rgb(0, 163, 192);
	cursor:pointer;
	border-radius: 5px;

}

.cate-nav-btn:hover{

	background-color:rgb(0, 163, 192);
	color:#f8f8f8;
	transition:background-color 0.5s ease;
}

.cate-nav-btn-selected{
	background-color:rgb(0, 163, 192);
	color:#f8f8f8;
}

.hotel-warp{

	margin-bottom: 40px;
	overflow: hidden;

}

.hotel-box{

	width:340px;
	position:relative;
	float:left;
	/*border:1px solid #ddd;*/
	margin-top:20px;
	background: #f8f8f8;
	border-radius: 5px;
}
.hotel-box:nth-of-type(1),.hotel-box:nth-of-type(2){
	margin-right:40px;
}

.hotel-box img{
	width:100%;
	height:300px;
	border-radius: 5px 5px 0 0;
}
.hotel-box-mark{

	top:0;
	left:0;
	border-top: 80px solid rgba(255, 75, 72, 0.9);
	border-right: 80px solid transparent;
	position:absolute;

}
.hotel-box-mask{
	position:absolute;
	height:365px;
	width:100%;
	top:0;
	right:0;
	background: rgba(0, 0, 0, 0.5);
	display:none;

	text-align:center;
	font-size:18px;
	font-weight:500;
	color:white;
	padding: 60px 0 0 0;
	border-radius: 5px;
}

.mark-brief{
	display: block;
	padding:10px;
	font-size:13px;
}


.hotel-box-mask a{
	margin-top:40px;
	display:block;
	font-size:20px;
}

.hotel-box-mask span{

}

.h-article-title{
	width:calc(100% - 20px);
	height:50px;
	line-height:50px;
	font-size:20px;
	text-align: center;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	padding:0 10px;
}
.h-hotel-brief{
	width:calc(100% - 40px );
	height:50px;
	padding:10px 20px;
	font-size:12px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}

.h-hotel-name{

	height:40px;
	width:100%;
	background: #595959;
	color:#f8f8f8;
	line-height: 40px;
	text-align: center;
	font-size:14px;

}


/*********************************/



/************最新文章*************/
.new-articles{

	width:900px!important;
	margin:70px auto 0 auto;
	color:#505050;
	font-size:14px;

}


.article-nav{

	margin-left:25px;
	height:46px;
	width:100%;
	clear: both;
	overflow: hidden;
	position: relative;
}
.nav-under-line{
	width:120px;
	height:3px;
	background-color:rgb(0, 163, 192);
	position:absolute;
	bottom:0;

}
.article-nav-btn{
	height:40px;
	width:120px;
	line-height: 40px;
	font-size: 16px;

	float: left;
	margin:0 5px;
	/*border:1px solid rgba(0, 136, 163, 0.98);*/
	text-align: center;
	color:#505050;
	cursor:pointer;
	border-radius: 5px;

}

.article-nav-btn:hover{

	color:rgb(0, 163, 192);
	transition:background-color 0.5s ease;
}
	.article-nav-btn-selected{

	color:rgb(0, 163, 192);
	font-weight: 600;
}




.hor-article-line{
	padding:20px 5px 20px 5px;

	margin:20px;
	overflow: hidden;
	border-bottom: 1px solid #e3e3e3;
	position: relative;

}
.hor-article-line .image{
	float: left;
}
.hor-article-line .image img{
	height:124px;
	width:220px;

}

.hor-article-line .content{
	float:left;
	margin-left:20px;
	margin-top:5px;
	margin-bottom: 20px;
	width:500px;

}
.hor-article-line .content .header{
	margin:0 0 10px 0;
	font-size:18px;
	font-weight:600;

}
.hor-article-line .meta{
	margin: 20px 0 20px;
	font-size: 14px;
	line-height: 14px;
	color:rgba(0, 0, 0, 0.4);

}

.hor-article-line .meta span{
	display: inline-block;
	margin-right: 5px;

}

.hor-article-line .description{
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.87);
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
.view-like{
	display: inline-block;
	margin-left:20px;
	color:lightgrey;
	font-size:14px;
}
.view-like i{
	display: inline-block;


}

.view-like .like{
	margin-left: 10px;
}
	/*******************************/



/************about us 页面********/
.about-menu-nav{
	height:50px;
	width:100%;
	margin:70px 0 0 0;

	background-color:#f8f8f8;
	border-radius: 5px;

}


.about-menu-nav span{
	display: inline-block;
	width: 20% ;
	text-align: center;
	font-size:14px;
	height:50px;
	line-height: 50px;
	float: left;
}
.about-menu-nav span:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.6);
	color:#f8f8f8;
	transition:background-color 0.6s ease;
}


.about-bg{
	display: none;
}
.about-bg img{
	width:100%;
}
.about-content{
	margin:20px 0 ;
}


.about-line-box{
	min-width:900px;
	width:80%;
	min-height:180px;
	position: relative;
	margin:0 auto;
	display: none;
}

.about-text{

	margin:30px 80px 0 80px;
}

.about-text .header{

	font-size:24px;

	width:200px;
}
.about-text .detail{
	height:50px;
	line-height:16px;
	font-size:14px;
	width:500px;
	margin:10px 0 0 0;

}

.about-line-box .bottom-line{
	height:10px;
	width:100%;
	position: absolute;
	bottom: 0;
}
.about-right-triangle{

	width: 0;
	height: 0;
	border-left: 70px solid transparent;

}
.about-left-triangle{

	width: 0;
	height: 0;
	border-right: 70px solid transparent;

}
.about-square{

	height:180px;
	width:150px;

}

.about-icon{
	height:100px;
	width:100px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	margin:40px;
}
.about-icon img{
	height:80px;
	width:80px;
	margin:10px;
}

.about-red-bg{
	background-color: #f26060;
}
.about-blue-bg{
	background-color: #319bc3;
}
.about-yellow-bg{
	background-color: #f2c81c;
}

.about-red-border-bg{
	border-bottom: 180px solid #f26060;
}
.about-blue-border-bg{
	border-bottom: 180px solid #319bc3;
}
.about-yellow-border-bg{
	border-bottom: 180px solid #f2c81c;
}



/********************************/




/*************加入我们************/

.recruit-section{

	width:100%;
	/*border-top:1px solid #505050;*/
	

}

.recruit-title-list {

	width:100%;
	padding:10px 0 ;

	position:relative;
	background-color: white;
}
.recruit-title-list span{
	display: inline-block;
	height:30px;
	width:120px;

	margin-top:20px;
	margin-right:20px;
	border: 1px solid #c8c8c8;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	color:#c8c8c8;
}
.recruit-title-list .selected,.recruit-title-list span:hover{
	color:#505050;
	border: 1px solid #505050;
	cursor: pointer;
}

.recruit-title-list-scroll{


}

.recruit-title-list-scroll span{
	color:white;
	border:1px solid #ff8400;
	background-color: #ff8400;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: ease;

}

.recruit-box-list{

	overflow: hidden;
	border:1px solid transparent;
}

.recruit-box{

	width: 100%;

	padding:20px 0 ;

}

.recruit-box span{
	color:#505050;
	display: inline;
}
.recruit-box .header{
	margin-left:20px;
}
.recruit-box .title{

	font-size:20px;

}
.recruit-box .depart{
	font-size:12px;
}

.recruit-box .salary{
	color:#ff8400;
	font-size: 18px;
	margin-top:40px;

}
.recruit-box .brief{
	font-size: 14px;
	margin-left:10px;

}

.recruit-box .submit-resume{
	border:1px solid #ff8400;
	height:30px;
	line-height: 30px;
	text-align: center;
	width:100px;
	color:#ff8400;
	float:right;
	margin-top: -5px;
	border-radius: 5px;
	cursor: pointer;
}

.recruit-detail{
	background: #f0f0f0;
	font-size: 14px;
	padding:20px;
	margin-top:20px;

}
.recruit-detail span{
	display: block;
}
/*******************************/


/*!***********关于我们***********/

.history-box{

	width:100%;


}



.history-people{

	width:150px;
	visibility: hidden;
}



.history-people img{
	margin:0 auto;
	width:150px;
	height:150px;
	border-radius: 100%;

}

.vertical-line{
	width:5px;
	height:60px;
	background-color: #64c5d8;
	visibility: hidden;
}

.history-detail{
	position: relative;

	overflow: hidden;


}
.history-detail .year {
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border: 4px solid #64c5d8;
	width: 80px;
	background-color: #d86c79;
	color: white;
	text-align: center;
	font-size: 14px;
	visibility: hidden;
}
.history-detail .join-btn{
	height: 80px;
	border-radius: 100%;
	border: 4px solid #64c5d8;
	width: 80px;
	background-color: #d86c79;
	color: white;
	text-align: center;
	cursor: pointer;
	visibility: hidden;

}
.history-detail .join-btn .up{
	margin:20px 0 0 0;
}
.history-detail .join-btn span{
	display: block;

	font-size: 12px;
}

.history-detail .join-btn:hover{
	cursor: pointer;
	background: #ff8400;
	color:#f8f8f8;
	transition:background-color 0.6s ease;
	border:4px solid #ff8400;
}

.history-detail .desc-left{
	height:60px;
	width:400px;

	position: absolute;
	left:calc(50% + 60px);
	top: 10px;;
	line-height: 30px;
	visibility: hidden;

}
.history-detail .desc-right{
	height:60px;
	width:400px;

	position: absolute;
	right:calc(50% + 60px);
	top: 10px;;
	vertical-align:middle;
	line-height: 30px;
	visibility: hidden;
	text-align: right;
}

.history-detail .logo-img{
	height:60px;
	width:60px;
	border-radius: 100%;
	visibility: hidden;


}
	/******************************/


	/**********特效******/
.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

	-webkit-filter: blur(9px); /* Chrome, Opera */
	-moz-filter: blur(9px);
	-ms-filter: blur(9px);
	filter: blur(9px);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */

	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: linear;


	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: linear;
}
/*******************/



/**********联系我们**************/

.contactus-box{
	width: 100%;
}

.contactus-title{
	height: 90px;
	line-height: 90px;
	margin-top: 80px;
	text-align: center;
}

.contactus-title h1{
	font-size: 60px;
	color: #181818;
	font-family: "Microsoft XiYuan" ! important;
}

.contactus-small-title-box{
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	height: 120px;
}

.contactus-small-title{
	width: 25%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}

.contactus-small-title span{
	font-size: 20px;
	color: #6b6b6b;
	/*border-bottom: 1px dashed #a0a0a0;*/
	font-family: "Microsoft XiYuan" ! important;
}

.map-box{
	width: 80%;
	margin: 0 auto;
	height: 300px;
	border: 1px solid #a0a0a0;
	margin-top: -10px;
	border-radius: 5px;
}

.detail-box{
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	height: 200px;
}

.detail-address label{
	font-size: 18px;
	color: #181818;
}

.detail-address span{
	font-size: 14px;
	color: #6b6b6b;
}

.detail-row{
	width: 100%;
	margin-top: 10px;
}

.detail-row img{
	margin-right: 10px;
	vertical-align: middle;
}

.contactus-title-img{
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #C5C5C5;
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 8px;
}

.contactus-title-img:hover{
	background-color: #ff8400;
	transition:background-color 1s ease;
	cursor: pointer;

}

.contactus-title-img img{
	vertical-align: middle;
}

.find-us{
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	/*border: 1px solid red;*/

	margin-top: 120px;
}

.find-us-line{
	width: 120px;
	height: 1px;
	background-color: #C5C5C5;
	margin: 0 auto;
	margin-bottom: -18px;
}

.find-us-font{
	font-size: 18px;
	color: #c5c5c5;
}

/************end**********************/

/***********底部***************/

.center-box{
	margin-bottom: 70px;
}

.foot-box{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	text-align: center;

	background-color: #505050;
	border:1px solid #505050;
	color:#f8f8f8;
	display: block;


}

.foot-box span{
	display: block;
	
}
.foot-box .up{
	margin-top:20px;
}


/****************end**********/

/*****************AboutUs*********/

.about-us-img{
	width: 100%;
	height: 300px;
	margin-top: 20px;
}

.about-us-img img{
	width: 100%;
	height: 300px;
}

.about-us-desc-box{
	width: 100%;
	margin-top: 40px;
}

.about-us-title span{
	font-size: 20px;
	color: #505050;
	font-family: "Microsoft XiYuan" ! important;
}

.about-us-desc span{
	display: block;
	/*margin-left: 10px;*/
	text-indent: 2em;
	color: #a0a0a0;
	margin-top: 8px;
}

.about-us-slogan{
	text-align: center;
}

.about-us-slogan span{
	display: block;
	color: #646464;
	margin-top: 15px;
}

/******************end************/



/************团队介绍***********/
.team-member{
	margin:50px auto;
	width:80%;
	overflow: hidden;

}
.team-member div{
	width:calc(33.333% - 100px);
	margin: 0 50px;
	float:left;
	cursor: pointer;
}
.team-member div img{
	width:100%;
}
/******************************/



/*********登录************/

.background{
	width: 100%;
	height: 100%;
	background-image: url(/Gbh/img/banner.png);
	position: relative;
	top: 0;
	bottom: 0;
	background-size:cover; 
}

.login-input-box{
	width: 450px;
	height: 480px;
	position: absolute;
	right: 100px;
	top: 100px;
	background-color: #000;
	border-radius: 4px;

	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}

.login-input-title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #242424;

}

.login-input-title{
	color: #FFFFFF;
	font-weight: bold;
}

.login-input-buttom{
	width: 340px;
	/*height: 250px;*/
	margin: 0 auto;
	margin-top: 50px;
}

.login-input-row{
	width: 340px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}

.margin-top-30{
	margin-top: 30px;
}

.login-input-row img{
	width: 24px;
	vertical-align: middle;
	margin-left: 15px;
}

.login-input-row input{
	width: 290px;
	height: 44px;
	border: 0;
	background-color: #000;
	color: #FFFFFF;
	font-size: 16px;
	text-indent: 1em;
}

.remember-me{
	width: 100%;
}

.remember-me input{
	width: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

.remember-me span{
	font-size: 16px;
	color: #FFFFFF;
}

.gbh-login-btn{
	width: 340px;
	height: 40px;
	background-color: #639be3;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
}

.gbh-login-btn span{
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing:10px;
	margin-left : 10px;
}

.login-foot-box{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	/*margin: 0 auto;*/
}

.login-foot-box span{
	display: block;
	border-bottom: 10px;
	color: #FFFFFF;
	font-size: 14px;
}

/***********end***************/

/************注册****************/

.register-background{
	width: 100%;
	height: 100%;
	background-image: url(/Gbh/img/register.jpg);
	position: relative;
	top: 0;
	bottom: 0;
	background-size:cover; 
}

.register-input-box{
	width: 450px;
	height: 480px;
	margin: 0 auto;
	background-color: #000;
	border-radius: 4px;

	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}

.height-100{
	width: 100%;
	height: 100px;
}

.register-input-buttom{
	width: 340px;
	/*height: 250px;*/
	margin: 0 auto;
	margin-top: 30px;
}

.login-input-row-240{
	width: 240px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
}

.login-input-row-240 img{
	width: 24px;
	vertical-align: middle;
	margin-left: 15px;
}
.login-input-row-240 input{
	width: 190px;
	height: 44px;
	border: 0;
	background-color: #000;
	color: #FFFFFF;
	font-size: 16px;
	text-indent: 1em;
}

.mobile-code-btn{
	width: 90px;
	height: 50px;
	border: 1px solid #FFFFFF;
	float: right;
	margin-top: -52px;
	border-radius: 2px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.mobile-code-btn span{
	color: #FFFFFF;
	font-size: 14px;
}

.register-mobile-code{
	width: 100%;
}
/************end***********8/
=======




/********文章页面*************/

.article-page{
	margin:50px auto 20px auto;
	width:800px;

}

.article-foot{
	padding:10px 0;
	width: 800px;
	height:50px;
	line-height: 40px;
	border-top: 1px dashed #a0a0a0;
	margin: 0 auto;


}

.article-foot .article-foot-span{
	margin-left: 20px;
	font-size: 14px;
	color: #a0a0a0;
	float:left;


}

.article-foot .footer-icon{
	width:35px;
	height:35px;
	cursor: pointer;
}
.article-foot .qr-image{
	display: none;
}

.article-foot .view-count{
	font-size: 16px;
	color: #000000;
}

/****************************/


/***错误页面*****/


.error-box{
	text-align: center;
	padding:30px 20px 0 20px;
	color: #505050;
	margin-top:20px;
}
.error-box img{

	width:250px;
	height:250px;
	margin:20px;

}
.error-box span{
	display: block;
	font-size:18px;
	margin: 5px 0 ;
}
.error-box p{
	font-size:18px;
}

/***************/



/* Mobily Only */
@media only screen and (max-width: 767px) {

	.mobile-side-bar {
		width: 150px !important;
		color: #ecf5fc;
		background: #121d25;
		padding: 30px 0 !important;
		font-size: 16px;

	}

	.mobile-side-bar a {
		height: 50px;
		line-height: 50px;
		padding: 0 10px;
		display: block;

		/*border-bottom: 1px solid #b4b4b4;*/

	}

	.mobile-side-bar span {
		display: inline-block;
	}

	.mobile-side-bar i {
		margin-top: -5px !important;
	}

	.home-menu-nav {


		display: none;
	}

	.site-menu-nav {
		display: none;
	}

	.mobile-menu-nav {
		display: block;
		float: right;
		color: #f8f8f8;
	}

	.slide-center-text {
		display: none;
	}
	.slide-left-text{

		bottom:20px;
		left:20px;
		position: absolute;
		display: block;
		color:#f8f8f8;
		z-index:1001;
	}
	.slide-left-text .up{
		font-size:16px;
		display: block;
	}
	.slide-left-text .down{
		display: block;
		margin-top:5px;
		font-size:14px;
	}



	.hotel-box {

		width: 100%;
		position: relative;
		float: left;
		/*border:1px solid #ddd;*/
		margin-top: 20px;
		background: #f8f8f8;
	}

	.hotel-box-mask {
		width: 100%;
	}

	.h-cate-nav {

		height: 42px;
		width: 100%;

		clear: both;
		overflow: hidden;
	}

	.cate-nav-btn {
		height: 40px;
		width: calc(25% - 7px);
		line-height: 40px;
		font-size: 14px;
		float: left;
		margin-right: 5px;

		text-align: center;

		cursor: pointer;
		border-radius: 5px;

	}

	.about-menu-nav {
		margin-top: 50px;
	}

	.about-line-box {
		min-width: 100%;
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 10px 0;
		height:auto;
		min-height:0

	}

	.about-line-box {
		display: block;
	}

	.about-left-triangle {
		display: none;
	}

	.about-right-triangle {
		display: none;
	}

	.about-square {
		display: none;
	}

	.about-text {
		float:none!important;
		margin: 10px;
	}

	.about-text .header {

		font-size: 24px;

		width: 200px;
	}

	.about-text .detail {

		line-height: 16px;
		font-size: 14px;
		width: 100%;
		margin: 10px 0 0 0;
		height:auto;
	}

	.recruit-title-list {

		width: 100%;
		padding: 10px 0;

		position: relative;
		background-color: white;
	}

	.recruit-title-list span {
		display: inline-block;
		height: 30px;
		width: calc(33.33% - 16px);

		margin-top: 20px;
		margin-right: 5px;
		margin-left: 5px;
		border: 1px solid #c8c8c8;
		border-radius: 20px;
		line-height: 30px;
		text-align: center;

	}

	.submit-resume {
		margin-right: 10px;
	}

	.history-detail .desc-right {

		width: 350px;
		margin: 0 auto;
		position: static !important;
		vertical-align: middle;

		visibility: hidden;
		text-align: center;
	}

	.history-detail .desc-left {

		width: 350px;
		margin: 0 auto;
		position: static !important;
		vertical-align: middle;
		line-height: 30px;
		visibility: hidden;
		text-align: center;
	}


	.team-member {
		margin: 50px auto;
		width: 100%;
		height:100%;

	}

	.team-member div{
		width:calc(33.333% - 20px);
		margin: 0 10px;
		float:left;
		cursor: pointer;
	}
	.team-member div img{
		width:100%;
	}
	.article-page{
		margin:70px 10px 20px 10px;

		width: calc(100% - 20px);

	}

	.new-articles{

		width:100%!important;


	}

	.article-nav{

		margin-left:0;
		height:46px;
		width:100%;
		clear: both;
		overflow: hidden;
		position: relative;
	}
	.nav-under-line{
		width:calc(25% - 12px);
		margin-left: 5px;
	}
	.article-nav-btn{
		height:40px;
		width:calc(25% - 12px);
		line-height: 40px;
		font-size: 16px;

		float: left;
		margin:0 5px;

		text-align: center;
		color:#505050;
		cursor:pointer;
		border-radius: 5px;


	}

	.article-nav-btn:hover{

	}
	.article-nav-btn-selected{

		color:rgb(0, 163, 192);

		font-weight: 600;
	}






	.hor-article-line
	{

		margin:10px ;
		padding-bottom: 30px;
	}


	.hor-article-line .image{
		float: left;
	}
	.hor-article-line .image img{
		width:100%;
		height:auto;
	}


	.hor-article-line .content{


		margin:10px auto;
		width:calc(100% - 20px);

	}
	.hor-article-line .content .header{
		margin:0 0 10px 0;
		font-size:16px;
		font-weight:600;

	}
	.hor-article-line .meta{
		margin: 20px 0 20px;
		font-size: 14px;
		line-height: 14px;
		color:rgba(0, 0, 0, 0.4);

	}


	.hor-article-line .description{
		margin-top: 10px;
		font-size: 14px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.87);
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow: hidden;
	}

	.article-foot{

		width: 100%;


	}

	.view-like{

		margin-left:20px;
		color:lightgrey;
		font-size:14px;
		position:absolute;
		bottom: 10px;
		text-align: center;
		right:10px;

	}
	.view-like i{
		display: inline-block;


	}

	.view-like .like{
		margin-left: 10px;
	}


	.contactus-title{
		margin-top: 20px;
	}

	.contactus-title h1{
		font-size: 36px;
	}

	.contactus-small-title-box {
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		height: 120px;

	}

	.contactus-small-title span{
		font-size: 13px;
	}

	.contactus-title-img{
		width: 60px;
		height: 60px;
		line-height: 60px;
	}

	.contactus-title-img img{
		width: 32px;
	}

	.find-us{
		margin-top: 20px;
	}

	.contactus-small-title-box{
		margin-top: 20px;
	}

	.map-box{
		width: 100%;
		border:0;
		border-radius: 0;
	}

	.detail-box{
		width: 90%;
	}

	.foot-box{

	}

	.foot-box span{
		display: block;

	}
	.foot-box .up{
		margin-top:10px;
		font-size:14px;
	}
	.foot-box .down{
		margin-top:5px;
		font-size:12px;
	}

}